body * {transition: 200ms;}

@keyframes aumentaX       {0% {transform: scaleX(0);} 100% {transform: scaleX(1);}}
@keyframes disminuyeX     {0% {transform: scaleX(1);} 100% {transform: scaleX(0);}}

.aumentaX {animation: aumentaX .3s;}
.disminuyeX {animation: disminuyeX .3s;}

.aumentaX, .disminuyeX {animation-timing-function: ease-in; animation-fill-mode: forwards;}
