/* Hover - scale */
body * {transition: 200ms;}

@keyframes aumentaX       {0% {transform: scaleX(0);} 100% {transform: scaleX(1);}}
@keyframes disminuyeX     {0% {transform: scaleX(1);} 100% {transform: scaleX(0);}}

@keyframes flechaDer      {0% {rotate: 180deg;} 100% {rotate: 0deg;}}
@keyframes flechaIzq      {0% {rotate: 0deg;} 100% {rotate: 180deg;}}

.aumentaX {animation: aumentaX .3s;}
.disminuyeX {animation: disminuyeX .3s;}

.flechaDer {animation: flechaDer .3s;}
.flechaIzq {animation: flechaIzq .3s;}

.aumentaX, .disminuyeX,
.flechaDer, .flechaIzq
	{animation-timing-function: ease-in; animation-fill-mode: forwards;}
