/* Hover - scale */
body * {transition: 200ms;}

@keyframes aumentaX       {0% {max-width: 0%;} 100% {max-width: calc(100% - 25px);}}
@keyframes disminuyeX     {0% {max-width: calc(100% - 25px);} 100% {max-width: 0%;}}

@keyframes flechaIzq      {0% {rotate: 0deg;} 100% {rotate: 180deg;}}
@keyframes flechaDer      {0% {rotate: 180deg;} 100% {rotate: 0deg;}}

.aumentaX {animation: aumentaX .3s;}
.disminuyeX {animation: disminuyeX .3s;}

.flechaDer {animation: flechaDer .3s;}
.flechaIzq {animation: flechaIzq .3s;}

.aumentaX, .disminuyeX,
.flechaDer, .flechaIzq
	{animation-timing-function: ease-in; animation-fill-mode: forwards;}
