body * {transition: 200ms;}

@keyframes aumentaX       {0% {max-width: 0%;} 100% {max-width: calc(100% - 25px);}}
@keyframes disminuyeX     {0% {max-width: calc(100% - 25px);} 100% {max-width: 0%;}}

.aumentaX {animation: aumentaX .3s;}
.disminuyeX {animation: disminuyeX .3s;}

.aumentaX, .disminuyeX {animation-timing-function: ease-in; animation-fill-mode: forwards;}
