/* Colores */
body {
	/* Muy Claro */
	/* --amarilloMuyClaro: rgb(255,247,220); */
	--amarilloMuyClaro: rgb(255,255,235);
	--celesteMuyClaro: rgb(242, 246, 252);
	--rojoMuyClaro: #ffe5e5;
	--verdeMuyClaro: rgb(240, 250, 240);

	/* Claro */
	--amarilloClaro:rgb(255,242,204);
	--celesteClaro: rgb(220, 230, 242);
	--rojoClaro: #f8c4c4;
	--verdeClaro: rgb(217, 223, 205);
	--arenaClaro: #F3E8D8;

	/* Intermedio */
	--amarilloInterm: #fcff82;
	--verdeInterm: rgb(188, 199, 167);

	/* Oscuro */
	--amarilloOscuro: rgb(255, 230, 153);
	--azulOscuro: rgb(37,64,97);
	--azul-frances: rgb(31,73,125);
	--celesteOscuro: #C7D7EA;
	--marron: rgb(102,51,0);
	--naranjaOscuro: #F57C00;
	--rojoOscuro: firebrick;
	--usuarios: #757575;
	--verdeOscuro:rgb(79,98,40);
	--verde-ingles: #009879;

	/* Terracota */
	--terracotaPpt: rgb(181, 73, 52);
	--terracotaSuave: #B05643;
	--terracotaOscuro: #8F3E31;

	/* Grises */
	--grisMuyClaro: rgb(252, 252, 252);
	--grisMuyClaroFondo: rgb(252, 252, 252, 0.8);
	--grisClaro: rgb(242,242,242);
	--grisInterm: rgb(160,160,160);
	--grisOscuro: rgb(100, 100, 100);
	--grisMasOscuro: rgb(80, 80, 80);
	--grisCalido: #3A3A3A;

	/* Colores principales */
	--fondoHeader: var(--terracotaSuave);
	--colorHeader: snow;
	--fondoMain: var(--celesteMuyClaro);
	--colorMain: var(--grisOscuro);
	--colorFooter: var(--terracotaOscuro);
	--fondoBlanco: rgba(255, 255, 255, 0.9);
	--fondoAmarillo:rgba(255,242,204, 0.9);

	/* Colores por Tema */
	--colorAyuda: white;
	--backAyuda: var(--grisOscuro);
	--bordeAyuda: var(--amarilloClaro);
	--colorTitulo: var(--grisOscuro);
	--backTitulo: var(--amarilloClaro);
	--bordeTitulo: var(--naranjaOscuro);
	--colorMensajeError: var(--rojoOscuro);
	--backMensajeError: var(--amarilloClaro);
	--backIcono: white;
	--backFlechas: var(--celesteOscuro);
	--bordeFlechas: var(--azulOscuro);
	--backComandos: var(--verdeOscuro);
}
