#contenidoTemas {
	display: flex; flex-direction: row; align-items: center; justify-content: space-between;
	flex-wrap: nowrap; flex-grow: 1;
	width: 100%; max-width: 100%; max-height: 100%;

	#formAltaOlvido {
		display: flex; flex-direction: column; align-items: center; justify-content: space-between;
		gap: 10px; max-width: 400px;
		input {
			text-align: center;
			&::placeholder {text-align: center;}
		}
		#mensaje {
			text-align: center; text-wrap: balance;
			&.exito {
				background-color: var(--verde-claro); color: var(--verde-oscuro);
				border-radius: 15px; padding-block: 8px;
			}
			&.error {background-color: var(--rojo-claro); color: var(--rojo-oscuro);}
		}
		#confirma {border-radius: 10px; padding: 5px 10px; cursor: pointer;}
	}
	.contenedorImagen {
		display: flex; flex-direction: row; align-items: center;
		/* justify-content: center; */
		--ancho: 22%;
		height: 100%; width: var(--ancho); max-width: var(--ancho);
		&#izquierda {justify-content: flex-end;}
		&#derecha {justify-content: flex-start;}
		img {max-width: 100%; max-height: 100%;}
	}
}
