<section id="izquierda" class="flexRowAlign">

	<div id="tituloSitio">
		<a href="/">Familia Mama Antula</a>
		<h4>María Antonia de San José Paz y Figueroa</h4>
	</div>

	<div id="secciones" class="flexRowAlign">
		<% for (const seccion of secciones) { %>
			<a href="/<%= seccion.url %>" <% if (seccion.nombre == locals.tituloPagina) { %> class="resaltar"<% } %>><%= seccion.nombre %></a>
		<% } %>
	</div>
</section>

<!-- Íconos de la derecha -->
<section id="derecha">
	<% if (!locals.usuario) { %><%- include("CMP-HR-1Login") %>
	<% } else { %><%- include("CMP-HR-2Logout") %>
	<% } %>
</section>
