/* Sector contenido actual */
#sectorContActual .bloque.sector {
	display: flex; flex-direction: row; gap: 15px;
	padding-block: 15px;

	.contenido {
		flex-grow: 1;
		a {color: var(--terracotaSuave); text-decoration: underline;}
	}
	.iconos .fa-trash-can {color: var(--rojoOscuro)}
}
