/* Sector encabezados */
#sectorEncabezado {
	width: fit-content;
	&.aprobado {
		background-color: var(--verdeClaro) !important;
		select, input {background-color: var(--verdeMuyClaro);}
	}
	&.rechazar, &.rechazado {
		background-color: var(--rojoClaro) !important;
		select, input {background-color: var(--rojoMuyClaro);}
	}

	.encabezado {
		input[type="text"] {
			width: 300px;
			&[name="numero"] {width: 50px; text-align: center;}
		}
		input[type="date"] {width: 130px;}
		select[name="orden"], select[name="numero"] {width: 70px;}
	}
}
