html {
	/* el font-size debe estar en 'html', porque es de donde donde toma referencia el 'rem' */
	@media (1280px < width) {font-size: 18px;}
	@media (768px < width <= 1280px) {font-size: 16px;}
	@media (width <= 768px) {font-size: 14px;}
}
header {
	@media (width > 1100px) {--gapHeader: 30px;}
	@media (width <= 1100px) {--gapHeader: 20px;}
	@media (width <= 1024px) {--gapHeader: 30px;}
	@media (width > 1024px) {
		#busquedaRapida {--posicionBuscador: 200px;}
		.mobile {display: none;}
	}
	@media (width <= 1024px) {
		/* Oden */
		#mmBr {order: 1;}
		#familia {order: 2;}
		#usuario {order: 3;}
		#mmBr {
			display: flex; flex-direction: row; align-items: center; gap: var(--gapHeader);
			#busquedaRapida {--posicionBuscador: 120px;}
		}
		#secciones {display: none;}
	}
}
footer {@media (width <= 768px) {.ocultar768 {display: none;}}}
body {
	/* Acostados */
	@media (orientation: landscape) {
		--alturaViewPort: 100vh;
	}
	/* Parado */
	@media (orientation: portrait) {
		--alturaViewPort: 100svh;
	}
}
