html {
	/* el font-size debe estar en 'html', porque es de donde donde toma referencia el 'rem' */
	@media (1280px < width) {font-size: 18px;}
	@media (768px < width <= 1280px) {font-size: 16px;}
	@media (width <= 768px) {font-size: 14px;}
}
header {
	@media (width > 1100px) {--gapHeader: 30px;}
	@media (width <= 1100px) {--gapHeader: 20px;}
	@media (width <= 1024px) {--gapHeader: 30px;}
	@media (width > 1024px) {
		.mobile {display: none;}
		#familia {
			a {font-size: 1.5rem;}
			h4 {font-size: 0.79rem;}
		}
		#secciones {font-size: 1.2rem;}
		#busquedaRapida {
			i.mostrarClick {font-size: 1.2rem;}
			.formatoBusq {
				input {padding: 4px 5px; font-size: 1rem;}
				#muestraResultados {font-size: 0.9rem; }
			}
			#escribiMas {font-size: 0.9rem;}
		}
	}
	@media (width <= 1024px) {
		/* Oden */
		#mobile {order: 1;}
		#busquedaRapida {order: 2;}
		#familia {order: 3;}
		#usuario {order: 4;}

		#familia {
			a {font-size: 1.5rem;}
			h4 {font-size: 0.79rem;}
		}
		#busquedaRapida {
			i.mostrarClick {font-size: 1rem;}
			.formatoBusq {
				input {padding: 4px 5px; font-size: .85rem;}
				#muestraResultados {font-size: 0.8rem; }
			}
			#escribiMas {font-size: 0.8rem;}
		}
		#secciones {display: none;}
	}
}
footer {@media (width <= 768px) {.ocultar768 {display: none;}}}
body {
	/* Acostados */
	@media (orientation: landscape) {
		--alturaViewPort: 100vh;
	}
	/* Parado */
	@media (orientation: portrait) {
		--alturaViewPort: 100svh;
	}
}
