@media (width >= 768px) {
	html {font-size: 18px;} /* debe estar en 'html', porque es de donde donde toma referencia el 'rem' */
}

@media (width < 768px) {
	html {font-size: 16px;} /* debe estar en 'html', porque es de donde donde toma referencia el 'rem' */
	body {

		footer {.ocultar768 {display: none;}}
	}
}
body {
	/* Acostados */
	@media (orientation: landscape) {
		--alturaViewPort: 100vh;
	}
	/* Parado */
	@media (orientation: portrait) {
		--alturaViewPort: 100svh;
	}
}
