body {
	@media (width <= 950px) {
	}
	/* Acostados */
	@media (orientation: landscape) {
		--alturaViewPort: 100vh;
	}
	/* Parado */
	@media (orientation: portrait) {
		--alturaViewPort: 100svh;
	}
}
