body {
	/* Variables */
	--altoHeader: clamp(52px, calc(var(--alturaViewPort) * 0.08), 60px);
	--altoFooter: 25.4px;
	--altoMain: calc(var(--alturaViewPort) - var(--altoHeader) - var(--altoFooter));
	--altoTitulo: 36px;
	--altoPestañas: 24px;
	--altoCuerpo: calc(var(--altoMain) - var(--altoFooter));
	--altoCuerpoTitulo: calc(var(--altoMain) - var(--altoTitulo));
	--altoCuerpoPestañas: calc(var(--altoMain) - var(--altoTitulo) - var(--altoPestañas));

	/* Ancho y alto */
	width: 100vw;
	height: var(--alturaViewPort);

	/* Otros */
	color: var(--colorMain);
	line-height: inherit;
	display: flex; flex-direction: column;

	/* Agranda imagen */
	#fondoImg {
		position: absolute;
		display: flex; flex-direction: column; align-items: center; justify-content: center;
		width: 100%; height: 100%;
		background: rgba(0,0,0,0.8); z-index: 2;
		img {width: 90%; height: 90%; border-radius: 10px; object-fit: contain;}
	}
}
body, * {margin: 0px; padding: 0; box-sizing: border-box !important;}
body * {
	font-family: 'Calibri', 'Trebuchet MS', 'sans-serif'; color: inherit;
	&:focus {outline-color: gray;}
}
