/* Configuración general */
header {
	display: flex; flex-direction: row; align-items: center; flex-grow: 1;
	justify-content: space-between; gap: var(--gapHeader); padding-inline: var(--gapHeader);
	height: var(--altoHeader); max-height: var(--altoHeader);
	background: var(--fondoHeader); color: var(--colorHeader);
	z-index: 1;

	.formIconoMenu {
		position: relative;
		i.mostrarClick {cursor: pointer; color: var(--grisClaro); font-size: 1.4rem;}
		.menuForm {
			position: absolute; bottom: 0; translate: 0 100%;
			border-radius: 5px; font-size: 0.8rem;
			display: flex; flex-direction: column;
			background-color: var(--amarilloClaro);
		}
	}
}
