/* General */
main {
	/* Imagen del fondo */
	background-image:
		linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),
		url("/imgsEstables/Varios/logoOficial.jpg");
	background-attachment: local; /* para que el fondo se mueva con el scroll */
	background-size: auto 100%; /* ancho auto, alto 100% del contenedor */
	background-repeat: no-repeat; background-position: center center;

	/* Disposición */
	display: flex; flex-direction: column; flex-grow: 1;
	overflow-y: hidden; position: relative;

	/* Dimensiones */
	height: var(--altoMain); max-height: var(--altoMain);
	padding-bottom: 20px; padding-inline: 30px;

	#cuerpo {
		height: calc(100% - 68.2px); /* 68.2px es el alto del tema */
		display: flex;
		overflow-y: hidden;
	}
}
