/* General */
main {
	/* Imagen del fondo */
	background-color: var(--fondoMain);
	background-attachment: local; /* para que el fondo se mueva con el scroll */
	background-size: auto 100%; /* ancho auto, alto 100% del contenedor */
	background-repeat: no-repeat; background-position: center center;

	/* Disposición */
	display: flex; flex-direction: column; flex-grow: 1;
	overflow-y: hidden; position: relative;

	/* Dimensiones */
	height: var(--altoMain); max-height: var(--altoMain);
	padding-block: 10px 20px;
	padding-inline: min(50px, 3vw) min(30px, 3vw);

	#cuerpo {
		height: calc(100% - 68.2px); /* 68.2px es el alto del tema */
		display: flex;
		overflow-y: hidden;
	}
}
