/* Footer */
footer {
	display: flex; flex-direction: row; justify-content: space-around; align-items: center;
	height: var(--altoFooter); padding: .25em 5px;
	border-top: 2px solid var(--colorFooter); background-color: var(--grisClaro); color: var(--colorFooter);
	a {font-weight: bold;}
	.iconos {display: flex; flex-direction: row; align-items: center; gap: 20px;}
	.texto {font-size: .8rem; font-weight: bold;}
}
