.contenidoCuerpo {
	@media (1280px < width) {--anchoIndice: 160px; --anchoMargen: 50px;}
	@media (width <= 1280px) {--anchoIndice: 150px; --anchoMargen: 40px;}
	@media (1000px < width) {
		--margenIzq: calc(var(--anchoIndice) + var(--anchoMargen));
		#ladoIzq {
			#filtroIndice, #filtroIndice * {max-width: 100%;}
			#filtroIndice {
				.encabezados {margin-inline: 10px;}
				ul {list-style-type: none; li {margin-left: 0;}}
			}
			#aumentaDisminuye {display: none;}
		}
		#tituloMasContenido {
			&:not(:has(#tituloDelContenido)) {padding-top: 18px;}
			&:has(#tituloDelContenido) {padding-top: 6px;}
			#contenido {
				padding-right: 20px;
				.bloque-textoImagen .imgLeyenda {float: right; margin-left: 30px; max-width: max(33%, 350px);}
				.bloque-estampa .titulo {align-self: flex-start;}
				.texto p {text-align: justify;}
			}
		}
	}
	@media (width <= 1000px) {
		--anchoIndice: 140px; --margenIzq: 0px;
		#ladoIzq {
			#filtroIndice {
				overflow-x: hidden;
				max-width: 0%;
				background-color: var(--grisMuyClaro);
				border-top-right-radius: 20px; border-bottom-right-radius: 20px;
				&.aumentaX {padding-right: 10px;}

				ul {list-style-type: disc;}
			}
			#aumentaDisminuye {display: flex;}
		}
		#tituloMasContenido {
			&:not(:has(#tituloDelContenido)) {padding-top: 12px;}
			#contenido {
				.bloque-libro .texto {
					display: flex; flex-direction: column; align-items: center;
					* {text-wrap: balance; text-align: center;}
				}
				.bloque-estampa .titulo {text-wrap: balance; text-align: center;}
			}
		}
	}
}
