.contenidoCuerpo {
	@media (1280px < width) {--anchoIndice: 160px; --anchoMargen: 50px;}
	@media (width <= 1280px) {--anchoIndice: 150px; --anchoMargen: 40px;}
	@media (1000px < width) {
		--margenIzq: calc(var(--anchoIndice) + var(--anchoMargen));
		i#muestraFiltroIndice {display: none;}
		#filtroIndice, #filtroIndice * {max-width: 100%;}
		#filtroIndice {
			#filtros {gap: 20px;}
			.encabezados {margin-inline: 10px;}
			ul {list-style-type: none; li {margin-left: 0;}}
		}
		#tituloMasContenido {
			&:not(:has(#tituloDelContenido)) {padding-top: 18px;}
			&:has(#tituloDelContenido) {padding-top: 6px;}
			#contenido {
				padding-right: 20px;
				.bloque-textoImagen .imgLeyenda {float: right; margin-left: 30px; max-width: max(33%, 350px);}
				.bloque-estampa .titulo {align-self: flex-start;}
				.texto p {text-align: justify;}
			}
		}
		.bloque-imagen, .bloque-video, .bloque-carrusel {.leyenda {max-width: 70%;}}

	}
	@media (width <= 1000px) {
		--anchoIndice: 140px; --margenIzq: 0px;
		#filtroIndice {
			overflow-x: hidden;
			transform-origin: left;
			background-color: var(--grisMuyClaro);
			border-top-right-radius: 20px; border-bottom-right-radius: 20px;
			transform: scaleX(0);
			&.aumentaX {padding-right: 10px;}

			#filtros {gap: 10px;}
			ul {list-style-type: disc;}
		}
		i#muestraFiltroIndice {
			position: absolute; left: 0px; top: 50%; translate: 0 -50%;
			background-color: var(--grisOscuro); color: snow; border-radius: 0 5px 5px 0;
			padding-block: 5px; padding-inline: 1px 2px;
			font-size: 12px;
			width: min-content; cursor: pointer;
		}

		#tituloMasContenido {
			&:not(:has(#tituloDelContenido)) {padding-top: 12px;}
			#contenido {
				.bloque-libro .texto {
					display: flex; flex-direction: column; align-items: center;
					* {text-wrap: balance; text-align: center;}
				}
				.bloque-estampa .titulo {text-wrap: balance; text-align: center;}
			}
		}
	}
}
