#menuTituloTema {
	display: flex; flex-direction: row; align-items: center;
	h1 {margin-block: 20px 15px !important;}
	#menuTemas {
		margin-right: 15px; z-index: 1;
		#icono {margin-block: 0;}
		#listadoTemas {
			display: flex; flex-direction: column;
			background-color: var(--amarilloInterm);
			border: 1px solid var(--grisOscuro); border-radius: 5px;
			position: absolute; bottom: 10px; translate: 0% 100%;
			width: max-content;
			.tema {
				padding: 2px 10px; cursor: pointer; line-height: 1.2;
				&.activo {background-color: var(--grisOscuro); color: snow;}
				&:hover {background-color: var(--amarillo-oscuro); color: inherit;}
			}
		}
	}
}
