#cuerpo {
	.listadoPestanas {
		display: flex; flex-direction: row; align-items: center;
		.pestana {
			border: 1px solid var(--grisOscuro); border-radius: 5px 5px 0 0;
			padding: 2px 10px; cursor: pointer; line-height: 1.2;
			&.activo {background-color: var(--grisOscuro); color: snow;}
		}
	}
	.contenidoPestana {
		border: 1px solid var(--verde-oscuro);
	}
}
