#tituloMasContenido #contenido, #sectorContActual .bloque.sector, #contenidoRevisar {
	--marginBottom: 12px;
	h3 {margin-bottom: 3px;}

	/* COMBINADOS: Texto con imagen, Imagen sola, Video, Carrusel */
	:is(.bloque-textoImagen, .bloque-imagen, .bloque-video, .bloque-carrusel) .leyenda {
		font-style: italic; color: var(--grisInterm); text-align: center; text-wrap: balance;
		padding-top: 6px; line-height: 1.2;
	}
	/* COMBINADOS: Texto con imagen, Texto sólo */
	.bloque-textoImagen, .bloque-texto {
		width: 100%;
		blockquote {font-size: 1.1rem; text-align: center; text-wrap: balance;}
		ul, ol {margin-left: 24px;}
		:is(p, :where(ul, ol) li) {
			line-height: 1.5;
			margin-bottom: var(--marginBottom);
		}
		p {width: fit-content;}
	}
	/* COMBINADOS: Texto con imagen, Imagen sola */
	:is(.bloque-textoImagen, .bloque-imagen) .imagen {
		max-height: 60vh;
		&:hover {scale: 1.02;}
	}
	/* COMBINADOS: Imagen sola, video, carrusel */
	.bloque-imagen, .bloque-video, .bloque-carrusel {
		margin-bottom: var(--marginBottom);
		.leyenda {max-width: 70%;}
	}
	/* COMBINADOS: Libros, Estampas */
	:is(.bloque-libro, .bloque-estampa) img {height: 370px;}


	/* SOLOS */
	.bloque-textoImagen {
		.imgLeyenda {
			float: right; margin-left: 30px; margin-bottom: var(--marginBottom); max-width: 33%;
			.imagen, .leyenda {max-width: 100%;}
		}
	}
	.bloque-imagen {
		.imagen {max-width: 90%;}
	}
	.bloque-carrusel {
		.contenedorImgs {
			/* Variables */
			anchor-name: var(--anchorName);

			/* General */
			gap: 20px; overflow-x: auto;
			max-width: min(90%, 600px); margin-inline: auto; margin-bottom: var(--marginBottom);
			scroll-behavior: smooth; scroll-snap-type: x mandatory;

			&::-webkit-scrollbar {display: none;} /* oculta la barra de deslizamiento */

			/* Botones izquierda y derecha */
			&::scroll-button(*) {
				content: "➜";
				position: fixed; position-anchor: var(--anchorName); border-radius: 50%;
				height: 1.5rem; width: 1.5rem;
			}
			&::scroll-button(block-start), &::scroll-button(block-end) {display: none;}
			&::scroll-button(*):not(:disabled) {cursor: pointer;}
			&::scroll-button(left) {position-area: left center; translate: 50%; rotate: 180deg;}
			&::scroll-button(right) {position-area: right center; translate: -50%;} /* font-family: "Font Awesome 6 Free"; font-weight: 900; */

			/* Botones de ubicación */
			scroll-marker-group: after;
			&::scroll-marker-group {
				display: flex; justify-content: center; gap: 10px;
				width: 100%;
				translate: 0 calc(10px - var(--marginBottom));
			}

			/* Imágenes */
			.contenedorImg {
				scroll-snap-align: start; min-width: 100%; justify-content: center;
				&::scroll-marker {content: ""; height: .5rem; width: .5rem; border-radius: 50%; border: 1px solid var(--grisOscuro);}
				&::scroll-marker:not(:target-current) {background-color: snow;}
				&::scroll-marker:target-current {background-color: var(--grisOscuro);}

				img {
					width: 100%; max-width: 100%;
					height: auto; max-height: 65vh;
					object-fit: contain;
					cursor: pointer;
				}
			}
		}
	}
	.bloque-video {
		iframe {height: 340px; width: auto; aspect-ratio: 16 / 9;}
	}
	.bloque-libro {
		.texto {
			max-width: 260px; padding-block: 6px;
			* {line-height: 1.2;}
			.titulo {font-weight: bold; margin-bottom: 6px;}
			.autor {font-style: italic;}
		}
	}
	.bloque-estampa {
		justify-content: flex-end;
		.titulo {margin-bottom: 6px; align-self: flex-start;}
		.imagenes {gap: 20px;}
	}
}
