#cuerpo .contenidoCuerpo {
	border: 1px solid var(--grisOscuro);
	padding-left: 20px; padding-block: 10px;
}
.contenidoCuerpo {
	backdrop-filter: blur(4px);
	/* background-color: var(--fondoBlanco); */
	/* background-color: var(--grisMuyClaro); */
	/* background-color: var(--amarilloMuyClaro); */
	background-color: var(--grisMuyClaroFondo);
	padding-left: 10px;

	&:has(#filtroIndice) #tituloMasContenido {--margenIzq: 210px; margin-left: var(--margenIzq); max-width: calc(100% - var(--margenIzq));}
	&:not(:has(#filtroIndice)) #tituloMasContenido {max-width: 100%;}

	#tituloMasContenido {
		flex-grow: 1; overflow-y: auto;
		&:not(:has(#tituloDelContenido)) {padding-top: 6px;}

		/* Titulo del contenido */
		&:has(#tituloDelContenido) #tituloDelContenido {padding-block: 6px 10px;}

		/* Temas generales del contenido */
		&:has(#tituloDelContenido) #contenido {height: calc(100% - 22px - 16px);} /* 22px es el alto de #tituloDelContenido sin el padding, y 16px es el padding */
		&:not(:has(#tituloDelContenido)) #contenido {height: calc(100% - 6px);} /* 6px es el alto del padding */
		#contenido {
			display: flex; padding-right: 20px; overflow-y: auto;
			&:has(.libro, .estampa) {flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; column-gap: 50px;}
			&:not(:has(.libro, .estampa)) {flex-direction: column; --margenVertical: 30px;}
		}

		/* Temas de los bloques */
		#contenido .bloque {
			/* COMPARTIDOS */
			a {color: var(--terracota); text-decoration: underline;}
			img {cursor: pointer;}

			/* COMBINADOS: Texto con imagen o Texto sólo */
			&.bloque-textoImagen, &.bloque-texto {
				width: fit-content;
				blockquote {font-size: 1.1rem; margin-block: 10px 20px; text-align: center; text-wrap: balance;}
				ul, ol {margin-left: 24px;}
				p, :where(ul, ol) li {margin-bottom: 12px; line-height: 1.5;}
				p {width: fit-content;}
			}
			/* COMBINADOS: Imagen con texto o Imagen sola */
			:is(&.bloque-textoImagen, &.bloque-imagen) .imagen {
				max-height: 60vh;
				&:hover {scale: 1.02;}
			}

			/* COMBINADOS: Texto con imagen, Imagen sola, Video o Carrusel */
			:is(&.bloque-textoImagen, &.bloque-imagen, &.bloque-video, &.bloque-carrusel) .leyenda {
				font-style: italic; color: var(--grisInterm); text-align: center; text-wrap: balance;
				padding-top: 6px; line-height: 1.2;
			}
			/* COMBINADOS: Imagen sola, video o carrusel */
			&.bloque-imagen, &.bloque-video, &.bloque-carrusel {
				margin-bottom: var(--margenVertical);
				.leyenda {max-width: 70%;}
			}
			/* COMBINADOS: Libros y Estampas */
			:is(&.libros, &.estampas) img {height: 370px;}


			/* SOLOS */
			&.bloque-textoImagen {
				.imgLeyenda {
					float: right; margin-left: 30px; margin-bottom: 15px; max-width: 33%;
					.leyenda {max-width: 100%;}
				}
			}
			&.bloque-imagen {
				.imagen {max-width: 90%;}
			}
			&.bloque-carrusel {
				margin-bottom: var(--margenVertical);
				.carrusel {
					/* Variables */
					anchor-name: var(--anchorName);

					/* General */
					gap: 20px; overflow-x: auto;
					max-width: min(90%, 600px); margin-inline: auto; margin-bottom: var(--margenDebajo);
					scroll-behavior: smooth; scroll-snap-type: x mandatory;

					&::-webkit-scrollbar {display: none;} /* oculta la barra de deslizamiento */

					/* Botones izquierda y derecha */
					&::scroll-button(*) {
						content: "➜";
						position: fixed; position-anchor: var(--anchorName); border-radius: 50%;
						height: 1.5rem; width: 1.5rem;
					}
					&::scroll-button(*):not(:disabled) {cursor: pointer;}
					&::scroll-button(left) {position-area: left center; translate: 50%; rotate: 180deg;}
					&::scroll-button(right) {position-area: right center; translate: -50%;} /* font-family: "Font Awesome 6 Free"; font-weight: 900; */

					/* Botones de ubicación */
					scroll-marker-group: after;
					&::scroll-marker-group {
						display: flex; justify-content: center; gap: 10px;
						width: 100%;
						translate: 0 calc(10px - var(--margenDebajo));
					}

					/* Imágenes */
					.contenedorImg {
						scroll-snap-align: start;
						min-width: 100%;
						display: flex; flex-direction: column; align-items: center; justify-content: center;
						&::scroll-marker {content: ""; height: .5rem; width: .5rem; border-radius: 50%; border: 1px solid var(--grisOscuro);}
						&::scroll-marker:not(:target-current) {background-color: snow;}
						&::scroll-marker:target-current {background-color: var(--grisOscuro);}

						img {
							width: 100%; max-width: 100%;
							height: auto; max-height: 65vh;
							object-fit: contain;
							cursor: pointer;
						}
					}
				}
			}
			&.bloque-libros {
				row-gap: 200px; /* entre filas */
				position: relative;
				.texto {
					position: absolute; left: 50%; bottom: 0px; translate: -50% 100%;
					width: 100%; padding-block: 6px;
					* {line-height: 1.2;}
					.nombre {font-weight: bold; margin-bottom: 6px;}
					.autor {font-style: italic;}
				}
			}
			&.bloque-estampas {
				display: flex; flex-direction: column; align-items: flex-start; padding-block: 20px;
				row-gap: 70px; /* entre filas */
				.imagenes {display: flex; flex-direction: row; gap: 20px;}
			}

		}
	}
}
