.contenidoCuerpo {
	flex-direction: row !important;

	#tituloMasContenido {
		background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9));

		#tituloDelContenido {padding-block: 6px 10px;}

		#contsImagenes {
			height: calc(100% - 22px - 16px); /* 22px es el alto de #tituloDelContenido sin el padding */
			overflow-y: auto;
			padding-right: 20px;

			.contImagen {
				.imgLeyenda {
					float: right; margin-left: 30px; margin-bottom: 15px; max-width: 33%;
					display: flex; flex-direction: column; align-items: center;
					.imagen {max-width: 100%; max-height: 65vh;}
					.leyenda {text-align: center; font-style: italic; color: var(--grisInterm);}
				}
				.texto {
					p {margin-bottom: 12px; line-height: 1.5;}
				}
			}
		}
	}
}