#cuerpo {
	display: flex; flex-direction: row;
	height: calc(100% - 68.2px); /* 68.2px es el alto del tema */
	overflow: hidden;

	#carta {
		background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9));

		#cartaTitulo {padding-block: 6px 10px;}
		#contImagen {
			height: calc(100% - 22px - 16px); /* 22px es el alto de #cartaTitulo sin el padding */
			overflow-y: auto;
			padding-right: 20px;
			#imgLeyenda {
				float: right; margin-left: 30px; margin-bottom: 15px; max-width: 33%;
				display: flex; flex-direction: column; align-items: center;
				#imagenCarta {max-width: 100%; max-height: 65vh;}
				#leyendaImagen {text-align: center; font-style: italic; color: var(--grisInterm);}
			}
			#cartaContenido {
				p {margin-bottom: 12px; line-height: 1.5;}
			}
		}
	}
}
