.contenidoCuerpo {
	flex-direction: row !important;

	#tituloMasContenido {
		background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9));
		#tituloDelContenido {padding-block: 6px 10px;}

	}
}