.contenidoCuerpo {
	flex-direction: row !important;

	#tituloMasContenido {
		background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9));
		flex-grow: 1;

		#tituloDelContenido {padding-block: 6px 10px;}

		#contenido {
			height: calc(100% - 22px - 16px); /* 22px es el alto de #tituloDelContenido sin el padding */
			overflow-y: auto;
			padding-right: 20px;

			.bloque {
				a {color: var(--terracota); text-decoration: underline;}
				.imgLeyenda {
					display: flex; flex-direction: column; align-items: center;
					.imagen {max-width: 100%; max-height: 65vh;}
					iframe {height: 350px; width: auto; aspect-ratio: 16 / 9;}
					.leyenda {
						font-style: italic; color: var(--grisInterm);
						text-align: center; text-wrap: balance; padding-block: 6px;
					}
				}
				.texto {
					p, ul li {margin-bottom: 12px; line-height: 1.5;}
					ul {margin-left: 12px;}
				}
				&:has(.texto) .imgLeyenda {
					float: right; margin-left: 30px; margin-bottom: 15px; max-width: 33%;
				}
			}
		}
	}
}
