#cuerpo .contenidoCuerpo {
	border: 1px solid var(--grisOscuro);
	padding-left: 20px; padding-block: 10px;
}
.contenidoCuerpo {
	backdrop-filter: blur(4px);
	background-color: var(--grisMuyClaroFondo);
	padding-left: 10px;

	&:has(#filtroIndice) #tituloMasContenido {--margenIzq: 210px; margin-left: var(--margenIzq); max-width: calc(100% - var(--margenIzq));}
	&:not(:has(#filtroIndice)) #tituloMasContenido {max-width: 100%;}

	#tituloMasContenido {
		flex-grow: 1; overflow-y: hidden;
		&:not(:has(#tituloDelContenido)) {padding-top: 6px;}

		/* Titulo del contenido */
		&:has(#tituloDelContenido) #tituloDelContenido {padding-block: 6px 10px;}

		/* Temas generales del contenido */
		&:has(#tituloDelContenido) #contenido {height: calc(100% - 22px - 16px);} /* 22px es el alto de #tituloDelContenido sin el padding, y 16px es el padding */
		/* &:not(:has(#tituloDelContenido)) #contenido {height: calc(100% - 6px);}  *//* 6px es el alto del padding */
		#contenido {
			display: flex; padding-right: 20px; overflow-y: auto;
			--margenVertical: 20px;
			&:has(.bloque-libro, .bloque-estampa) {
				flex-direction: row; justify-content: space-evenly; flex-wrap: wrap; column-gap: 50px;
				&:has(.bloque-libro) {row-gap: var(--margenVertical);}
				&:has(.bloque-estampa) {row-gap: calc(var(--margenVertical) * 2);}
			}
			&:not(:has(.bloque-libro, .bloque-estampa)) {flex-direction: column;}
			.bloque {
				a {color: var(--terracota); text-decoration: underline;}
				img {cursor: pointer;}
			}
			.bloque-textoImagen, .bloque-texto blockquote {margin-top: 10px;}
		}
	}
}
