#cuerpo .contenidoCuerpo {
	height: calc(100% - 30px); /* 30px es el alto de las pestañas */
	display: flex;
}

.contenidoCuerpo {
	flex-direction: row !important; overflow-y: hidden;
	border: 1px solid red;

}