.contenidoCuerpo {
	&:has(#filtroIndice) #tituloMasContenido {--margenIzq: 210px; margin-left: var(--margenIzq); max-width: calc(100% - var(--margenIzq));}
	&:not(:has(#filtroIndice)) #tituloMasContenido {max-width: 100%;}

	#tituloMasContenido {
		background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9));
		flex-grow: 1; overflow-y: auto;

		/* Título del contenido */
		#tituloDelContenido {
			padding-block: 6px 10px;
			&:empty {display: none;}
		}

		/* Temas del contenido */
		&:has(#tituloDelContenido:empty) #contenido {height: 100%;}
		&:has(#tituloDelContenido:not(:empty)) #contenido {height: calc(100% - 22px - 16px);} /* 22px es el alto de #tituloDelContenido sin el padding, y 16px es el padding */
		#contenido {display: flex; padding-right: 20px; overflow-y: auto;}

		#contenido.estandar {
			flex-direction: column;

			.bloque {
				margin-bottom: 12px;
				a {color: var(--terracota); text-decoration: underline;}

				/* Texto con imagen */
				&:has(.texto) .imgLeyenda {float: right; margin-left: 30px; margin-bottom: 15px; max-width: 33%;}

				/* Texto sólo o con imagen */
				.texto {
					&:has(img) {display: flex; flex-direction: column; align-items: center;}
					blockquote {font-size: 1.1rem; margin-block: 10px 20px; text-align: center; text-wrap: balance;}
					p, :where(ul, ol) li {margin-bottom: 12px; line-height: 1.5;}
					ul, ol {margin-left: 12px;}
				}

				/* Imagen sola o con texto */
				.imgLeyenda {
					display: flex; flex-direction: column; align-items: center;
					.imagen {
						max-width: 100%; max-height: 65vh; cursor: pointer;
						&:hover {scale: 1.05;}
					}
					iframe {height: 350px; width: auto; aspect-ratio: 16 / 9;}
				}

				.carrusel {
					display: flex; flex-direction: row; gap: 20px;
					max-width: 100%; overflow-x: auto; overflow-y: hidden;
					img {
						max-height: 65vh; cursor: pointer;
						&:hover {scale: 1.05;}
					}
				}

				/* Imagen, Carrusel, Video */
				&:not(:has(.texto)) .leyenda {max-width: 70%;}
				&:has(.texto) .leyenda {max-width: 100%;}
				.leyenda {
					font-style: italic; color: var(--grisInterm);
					text-align: center; text-wrap: balance; padding-block: 6px;
					line-height: 1.2;
				}
			}
		}

		#contenido.libros {
			flex-direction: row; gap: 20px;
		}
	}
}
