#cuerpo .contenidoCuerpo {
	border: 1px solid var(--grisOscuro);
	padding-left: 20px; padding-block: 10px;
}
.contenidoCuerpo {
	backdrop-filter: blur(4px);
	/* background-color: var(--fondoBlanco); */
	/* background-color: var(--grisMuyClaro); */
	/* background-color: var(--amarilloMuyClaro); */
	background-color: var(--grisMuyClaroFondo);
	padding-left: 10px;

	&:has(#filtroIndice) #tituloMasContenido {--margenIzq: 210px; margin-left: var(--margenIzq); max-width: calc(100% - var(--margenIzq));}
	&:not(:has(#filtroIndice)) #tituloMasContenido {max-width: 100%;}

	#tituloMasContenido {
		flex-grow: 1; overflow-y: auto;

		/* Temas del contenido */
		&:not(:has(#tituloDelContenido)) {
			padding-top: 6px;
			#contenido {height: calc(100% - 6px);} /* 6px es el alto del padding */
		}
		&:has(#tituloDelContenido) {
			#tituloDelContenido {padding-block: 6px 10px;}
			#contenido {height: calc(100% - 22px - 16px);} /* 22px es el alto de #tituloDelContenido sin el padding, y 16px es el padding */
		}
		#contenido {display: flex; padding-right: 20px; overflow-y: auto;}

		#contenido.estandar {
			flex-direction: column;
			.bloque {
				a {color: var(--terracota); text-decoration: underline;}

				/* Texto con imagen */
				&:has(.texto) .imgLeyenda {float: right; margin-left: 30px; margin-bottom: 15px; max-width: 33%;}

				/* Texto sólo o con imagen */
				.texto {
					&:has(img) {display: flex; flex-direction: column; align-items: center;}
					blockquote {font-size: 1.1rem; margin-block: 10px 20px; text-align: center; text-wrap: balance;}
					p, :where(ul, ol) li {margin-bottom: 12px; line-height: 1.5;}
					width: fit-content;
					p {width: fit-content;}
					ul, ol {margin-left: 24px;}
				}

				/* Imagen sola o con texto */
				.imgLeyenda {
					display: flex; flex-direction: column; align-items: center;
					.imagen {
						max-width: 100%; max-height: 60vh; cursor: pointer;
						&:hover {scale: 1.05;}
					}
					iframe {height: 340px; width: auto; aspect-ratio: 16 / 9;}
				}

				.carrusel {
					/* General */
					display: flex; flex-direction: row; gap: 20px; overflow-x: auto;
					max-width: min(90%, 600px); margin-inline: auto;
					scroll-behavior: smooth; scroll-snap-type: x mandatory;
					anchor-name: --carrusel;

					&::-webkit-scrollbar {display: none;} /* oculta la barra de deslizamiento */

					/* Botones izquierda y derecha */
					&::scroll-button(*) {
						position: fixed; position-anchor: --carrusel; border-radius: 50%;
						height: 1.5rem; width: 1.5rem;
					}
					&::scroll-button(*):not(:disabled) {cursor: pointer;}
					&::scroll-button(left) {content: "➜"; position-area: left center; translate: 50%; rotate: 180deg;}
					&::scroll-button(right) {content: "➜"; position-area: right center; translate: -50%;} /* font-family: "Font Awesome 6 Free"; font-weight: 900; */

					/* Botones de ubicación */
					scroll-marker-group: after;
					&::scroll-marker-group {display: flex; justify-content: center; gap: 10px;}

					/* Imágenes */
					.contenedorImg {
						scroll-snap-align: start;
						min-width: 100%;
						&::scroll-marker {content: ""; height: .5rem; width: .5rem; border-radius: 50%; border: 1px solid var(--grisOscuro);}
						&::scroll-marker:target-current {background-color: var(--grisOscuro);}

						img {
							width: 100%; max-width: 100%;
							height: auto; max-height: 65vh;
							object-fit: contain; cursor: pointer;
						}
					}
				}

				/* Imagen, Carrusel, Video */
				&:not(:has(.texto)) .leyenda {max-width: 70%;}
				&:has(.texto) .leyenda {max-width: 100%;}
				.leyenda {
					padding-block: 6px; line-height: 1.2;
					font-style: italic; color: var(--grisInterm); text-align: center; text-wrap: balance;
				}
			}
		}

		#contenido.libros, #contenido.estampas {
			flex-direction: row;
			flex-wrap: wrap; justify-content: space-evenly;
			column-gap: 50px; /* entre bloques */
			img {height: 370px;}
		}
		#contenido.libros {
			row-gap: 200px; /* entre filas */

			.bloque {
				position: relative;
				.texto {
					position: absolute; left: 50%; bottom: 0px; translate: -50% 100%;
					width: 100%; padding-block: 6px;
					* {line-height: 1.2;}
					.nombre {font-weight: bold; margin-bottom: 6px;}
					.autor {font-style: italic;}
				}
			}
		}
		#contenido.estampas {
			padding-block: 20px;
			row-gap: 70px;
			.bloque {
				display: flex; flex-direction: column; align-items: flex-start;
				p {font-weight: bold; margin-bottom: 3px;}
				.imagenes {display: flex; flex-direction: row; gap: 20px;}
			}
		}
	}
}
