#filtroIndice {
	--anchoIndice: 160px;

	position: absolute;
	display: flex; flex-direction: column; align-items: flex-start; gap: 20px;
	min-width: var(--anchoIndice); height: 100%;
	overflow-y: hidden;

	.contenedor {
		display: flex; flex-direction: column; gap: 10px;
		border: 1px solid var(--rojoOscuro); border-radius: 8px;
		color: var(--rojoOscuro); background-color: var(--amarilloClaro);
		padding-block: 10px; padding-left: 30px;
		min-width: var(--anchoIndice);
		width: max-content;

		.titulo {
			position: relative; cursor: pointer;
			.mostrar {
				position: absolute; left: -5px; top: 50%; translate: -90% -50%;
				cursor: pointer;
				&.girar {transform: rotate(90deg);}
			}
		}
		.tituloEncabs {
			display: flex; flex-direction: column; justify-content: flex-start;
			.encabezados {
				display: flex; flex-direction: column; justify-content: flex-start;
				margin-inline: 10px 15px;
				a {line-height: 1.1;}
			}
		}
	}

	#indice {
		align-self: flex-start;
		max-height: 400px; overflow-y: auto;
	}

	#fichaTecnica {
		flex-grow: 1;
		display: flex; flex-direction: column; justify-content: center;
		max-width: var(--anchoIndice);
		ul {font-size: 0.9rem;}
	}

	#flechas {
		display: flex; flex-direction: row; justify-content: space-evenly;
		width: var(--anchoIndice);
		margin-bottom: 20px; color: var(--rojoOscuro);
		i {
			font-size: 1.5rem; cursor: pointer;
			&:hover {scale: 1.5;}
		}
	}
}
