#cuerpo .contenidoCuerpo {
	border: 1px solid var(--grisOscuro);
	/* padding-block: 10px; */
	border-top-left-radius: 0;
}
.contenidoCuerpo {
	background-color: var(--grisMuyClaroFondo);
	border-radius: 20px;
	padding-inline: min(20px, 3vw);

	&:has(#filtroIndice) #tituloMasContenido {margin-left: var(--margenIzq); max-width: calc(100% - var(--margenIzq));}
	&:not(:has(#filtroIndice)) #tituloMasContenido {max-width: 100%;}

	/* #tituloMasContenido::-webkit-scrollbar-thumb {background-color: blue;} */
	#tituloMasContenido {
		flex-grow: 1;
		overflow-y: auto; /* fundamental para la lectura */
		overflow-x: hidden; /* fundamental para las estampas */

		/* Titulo del contenido */
		#tituloDelContenido {padding-block: 6px 10px;}

		/* Temas generales del contenido */
		&:has(#tituloDelContenido) #contenido {height: calc(100% - 27px - 16px);} /* 22px es el alto de #tituloDelContenido sin el padding, y 16px es el padding */
		/* &:not(:has(#tituloDelContenido)) #contenido {height: calc(100% - 6px);}  *//* 6px es el alto del padding */
		#contenido {
			--margenVertical: 20px;
			display: flex;
			&:has(.bloque-libro, .bloque-estampa) {
				flex-direction: row; justify-content: space-evenly; flex-wrap: wrap; column-gap: 50px;
				&:has(.bloque-libro) {row-gap: var(--margenVertical);}
				&:has(.bloque-estampa) {row-gap: calc(var(--margenVertical) * 2);}
			}
			&:not(:has(.bloque-libro, .bloque-estampa)) {flex-direction: column;}
			&:focus {outline: none;}
			.bloque {
				a {color: var(--terracotaSuave); text-decoration: underline; display: inline;}
				img {cursor: pointer; border-radius: 10px;}
			}
			.bloque-textoImagen, .bloque-texto blockquote {margin-top: 10px;}
		}
	}
}
