#cuerpo .contenidoCuerpo {
	height: calc(100% - 30px); /* 30px es el alto de las pestañas */
	display: flex;
}

.contenidoCuerpo {
	overflow-y: hidden;
	border: 1px solid red;

	#tituloMasContenido {
		flex-grow: 1;

		#imgLeyenda {
			display: flex; flex-direction: column; align-items: center;
			#leyendaImagen {text-align: center; font-style: italic; color: var(--grisInterm); text-wrap: balance;}
		}
	}
}