/* Footer */
footer {
	display: flex; flex-direction: row; justify-content: space-around;
	height: var(--altoFooter);
	padding: .25em 5px;
	border-top: 2px solid var(--gris-oscuro);
	background-color: var(--gris-claro);
	* {font-weight: bold;}
}
