<!-- Etiquetas Meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Toda la información relacionada con la santa argentina Mama Antula, su vida, obra y legado.">
<meta name="keywords" content="mama antula, familia antulana, familia antuliana">
<meta name="copyright" content="Familia Mama Antula">

<!-- Otros -->
<title>FMA | <%= locals.informacion && informacion.tituloPagina || locals.tituloPagina || "Error" %></title><!-- Título en la pestaña -->
<link rel="icon" href="<%- locals.imgDerPers || logoOficial %>"><!-- Logo en la pestaña -->
<link rel="canonical" href="https://mamaantula.com"><!-- Canonical (evita contenido duplicado en buscadores) -->

<!-- Formatos externos -->
<link rel="stylesheet" href="/formatos/0-Compartido/Includes2/Normalize.css"><!-- NORMALIZE    -->
<link rel="stylesheet" href="/fa/css/all.min.css" />

<!-- Principales -->
<link rel="stylesheet" href="/formatos/0-Compartido/0-Body.css">
<link rel="stylesheet" href="/formatos/0-Compartido/0-BodyMQ.css">
<link rel="stylesheet" href="/formatos/0-Compartido/1-Header.css">
<link rel="stylesheet" href="/formatos/0-Compartido/2-Main.css">
<link rel="stylesheet" href="/formatos/0-Compartido/3-Footer.css">

<!-- Includes1 -->
<link rel="stylesheet" href="/formatos/0-Compartido/Includes1/HR-1Izquierda.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Includes1/HR-2Derecha.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Includes1/MN-CartelCentro.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Includes1/MN-ContTemas.css">

<!-- Includes2 -->
<link rel="stylesheet" href="/formatos/0-Compartido/Includes2/Animaciones.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Includes2/Clases.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Includes2/Colores.css">
<link rel="stylesheet" href="/formatos/0-Compartido/Includes2/Tags.css">

<!-- Scripts -->
<script src="/javascript/CMP-muestraOculta.mjs"></script>
<% if (!locals.usuario) { %>
	<script src="/javascript/CMP-Login.mjs"></script>
	<script src="/javascript/CMP-OjitoContrasena.mjs"></script>
<% } else { %>
	<script src="/javascript/CMP-Logout.mjs"></script>
<% } %>
