<% if (encabezado) for (const contenido of contenidos) { %>
	<% const subCarpeta = contenido.statusRegistro_id == creado_id ? '2-Revisar' : '1-Final' %>
	<div class="bloque">
		<%- include() %>
	</div>
<% } %>
