.swal2-html-container {
	text-wrap: balance;

	.resaltar {
		background-color: var(--azulOscuro); color: snow;
		padding-inline: 5px; border-radius: 5px;
	}
	ul {
		width: fit-content; margin-inline: auto; margin-top: 10px;
		li {text-align: left;}
	}
}
