<!-- Inputs -->
<div class="inputs">
	<input type="url" name="url" class="input" placeholder="Pegá el link"/>
	<textarea name="leyenda" class="input" placeholder="Pegá la leyenda"></textarea>
</div>

<!-- Muestra -->
<div class="outputs">
	<div id="muestraVideo" class="limpiar">
	</div>
	<input id="yt-videoId" type="text" name="video" class="ocultar input"/>
</div>
