<!-- Inputs -->
<div class="inputs">
	<input type="text" name="titulo" class="input" placeholder="Título del libro">
	<input type="text" name="autor" class="input" placeholder="Autor">
	<input type="number" name="anoLanzam" class="input" placeholder="Año">
	<input type="text" name="editorial" class="input" placeholder="Editorial">
</div>

<!-- Muestra -->
<div id="areaSoltar">
	<p id="cartelImagen">Imagen</p>
	<input name="imagen" type="file" accept="image/*" hidden><!-- el input no lleva class 'input', porque tiene un tratamiento diferente -->
	<img id="vistaImagen" src="" class="noAgrandar">
</div>
