<!-- Inputs -->
<form class="inputs">
	<input type="text" name="titulo" placeholder="Título del libro">
	<input type="text" name="subtitulo" placeholder="Subtítulo del libro">
	<input type="text" name="autor" placeholder="Autor">
	<div class="anoPags">
		<input type="number" name="anoLanzam" placeholder="Año">
		<input type="number" name="cantPags" placeholder="Cant. págs.">
	</div>
	<input type="text" name="editorial" placeholder="Editorial">
</form>

<!-- Muestra -->
<div id="areaSoltar">
	<p id="cartelImagen">Imagen</p>
	<input name="imagen" type="file" accept="image/*" hidden><!-- el input no lleva class 'input', porque tiene un tratamiento diferente -->
	<img id="vistaImagen" src="" class="noAgrandar">
</div>
