<!-- Inputs -->
<div class="inputs">
	<input type="url" name="url" placeholder="Pegá el link"/>
	<textarea name="leyenda" placeholder="Pegá la leyenda"></textarea>
</div>

<!-- Outputs -->
<div class="outputs">
	<div id="muestraVideo"></div>
	<input type="text" name="video" hidden/>
</div>
