<!-- Filtros -->
<%- include("ABM-1Filtros") %>

<!-- Editables -->
<section id="editables">
	<!-- Encabezado -->
	<div id="sectorEncabezado" class="sector">
		<%- include("ABM-2Encabezado") %>
	</div>

	<!-- Contenido actual -->
	<form id="sectorContActual">
		<%- include("ABM-3ContActual") %>
	</form>

	<!-- Contenido nuevo -->
	<form id="sectorContNuevo" class="sector">
		<%- include("ABM-4ContNuevo") %>
	</form>
</section>
