/* Colores */
body {
	--amarilloClaro:rgb(255,242,204);
	--celesteClaro: rgb(220, 230, 242);
	--grisClaro: rgb(242,242,242);
	--rojoClaro: #f8c4c4;
	--verdeClaro: rgb(217, 223, 205);

	--amarillo-intermedio: #fcff82;
	--grisInterm: rgb(160,160,160);
	--verde-intermedio: rgb(188, 199, 167);

	--amarilloOscuro: rgb(255, 230, 153);
	--azulOscuro: rgb(37,64,97);
	--azul-frances: rgb(31,73,125);
	--celesteOscuro: #C7D7EA;
	--grisOscuro: rgb(100, 100, 100);
	--grisMasOscuro: rgb(80, 80, 80);
	--marron: rgb(102,51,0);
	--naranjaOscuro: #F57C00;
	--rojoOscuro: firebrick;
	--terracota: rgb(181, 73, 52);
	--usuarios: #757575;
	--verdeOscuro:rgb(79,98,40);
	--verde-ingles: #009879;

	/* Colores principales */
	--colorHeader: var(--terracota);
	--colorEscritura: var(--azulOscuro);

	/* Colores por Tema */
	--colorAyuda: white;
	--backAyuda: var(--grisOscuro);
	--bordeAyuda: var(--amarilloClaro);
	--colorTitulo: var(--grisOscuro);
	--backTitulo: var(--amarilloClaro);
	--bordeTitulo: var(--naranja-oscuro);
	--colorMensajeError: var(--rojoOscuro);
	--backMensajeError: var(--amarilloClaro);
	--backIcono: white;
	--backFlechas: var(--celeste-oscuro);
	--bordeFlechas: var(--azulOscuro);
	--backComandos: var(--verde-oscuro);
}
