<div id="filtroIndice">
	<div id="filtros" class="contenedor">
		<div class="titulo">
			<i class="fa-solid fa-caret-right mostrar"></i>
			Filtros
		</div>
	</div>
	<div id="indice" class="contenedor">
		<a href="?inicio" class="titulo">Inicio</a>
		<a href="?introduccion" class="titulo">Introducción</a>
		<a href="?numero=1" class="titulo">1778</a>
		<div class="titulo">
			<i class="fa-solid fa-caret-right mostrar"></i>
			1780-1784
		</div>
		<div class="titulo">titulo
			<i class="fa-solid fa-caret-right mostrar"></i>
			1800-1816
		</div>
	</div>
</div>

<div id="tituloMasContenido">
	<h2 id="tituloDelContenido" class="fondo"><%= locals.encabezado && encabezado.titulo %></h2>
	<div id="contsImagenes" class="fondo">
		<% if (locals.encabezado) { %>
			<% for (const contenido of contenidos) { %>
				<% if (contenido.texto || contenido.imagen) { %>
					<div id="contImagen">
						<% if (contenido.imagen) { %>
							<div id="imgLeyenda">
								<img id="imagenExper" src="/imgsEditables/1-Contenido/<%= contenido.imagen %>">
								<div id="leyendaImagen" class="fondo"><%= contenido.leyenda %></div>
							</div>
						<% } %>
						<% if (contenido.texto) { %>
							<div class="texto"><%= contenido.texto %></div>
						<% } %>
					</div>

				<% } %>
			<% } %>
		<% } %>

	</div>
</div>
