<div id="menuTemas" class="relative">
	<!-- Ícono de menú -->
	<i class="fa-solid fa-bars mostrarClick scaleHover"></i>

	<!-- Menú de opciones -->
	<nav id="listadoTemas" class="mostrarToggle ocultar">
		<% for (const tema of temasSeccion) { %>
			<a
				href="/<%= seccionActual.url %>/<%= tema.url %>"
				<% if (tema.id == temaActual.id) { %>class="activo"<% } %>
				data-tema_codigo="<%= tema.codigo %>"
			>
				<%= tema.titulo %>
			</a>
		<% } %>
	</nav>
</div>
