<!-- Encabezado -->
<section>
	<div id="filtros" class="flexRowAlign">
		<select name="seccion_id">
			<% for (const seccion of secciones) { %>
				<option value="<%= seccion.id %>"><%= seccion.nombre %></option>
			<% } %>
		</select>
		<select name="tema_id"></select>
		<select name="pestana_id"></select>
	</div>
	<div id="encabSinIndice" class="ocultar">
		<input type="text" name="titulo">
		<input type="text" name="subTitulo">
		<select name="orden" id="">

		</select>
	</div>
	<div id="encabCartas">
		<input type="number" name="numero">
		<select name="nombreDesde_id">

		</select>
		<select name="nombreHacia_id">

		</select>
		<select name="lugar_id">

		</select>
		<select name="idioma_id">

		</select>
		<input type="date" name="fechaEvento">
	</div>
	<div id="encabExps">
		<input type="text" name="titulo">
		<input type="text" name="subTitulo">
		<select name="lugar_id">

		</select>
		<input type="date" name="fechaEvento">
	</div>
</section>

<!-- Contenido -->
 <section>
	<div id="contenidoActual">
	</div>
 </section>