.contenido {
	display: flex; flex-direction: column;
	overflow-y: auto; flex-grow: 1;
	.textoImagen {
		display: flex; flex-direction: row; gap: 15px;
		align-items: stretch;

		img {
			max-height: 50vh;
			object-fit: contain; /* recorta la imagen si es necesario */
		}
	}
}
