#sectorEdicion {
	display: flex; flex-direction: row; align-items: center; width: fit-content;
	margin-block: 10px; padding: 20px 30px; gap: 30px;
	background-color: var(--amarilloClaro); border-radius: 20px;

	#ediciones {
		display: flex; flex-direction: column; gap: 10px;
		.campoEdicion {
			flex-direction: row; align-items: center; gap: 20px;
			&:first-child {display: flex;}
			&:not(:first-child) {display: flex;}
			& > * {font-size: 1.2rem; font-weight: bold;}
			.campo {color: var(--azulOscuro);}
			.opcion {
				color: snow; border-radius: 10px; padding: 5px 10px; cursor: pointer;
				&.original {background-color: var(--rojoOscuro);}
				&.edicion {background-color: var(--verdeOscuro);}
				&:hover {scale: 1.3;}
			}
		}
	}
}
