#cuerpo {
	background-color: var(--grisClaro); padding: 10px 10px; border-radius: 20px;
	& > ul {
		margin-left: 10px;
		li.primario:nth-child(n+2) {margin-top: 10px;}
		& > li.primario {
			font-size: 1.3rem; line-height: 1.3;
		}
		.alinearVertical {
			display: flex; flex-direction: row; align-items: center; gap: 5px;
			span {font-size: .9rem;}
		}
	}
}