#cuerpo {
	#encabezado {
		display: flex; flex-direction: row; justify-content: flex-start; gap: 20px;
		padding-block: 6px 15px; position: relative;
		h2 {max-width: calc(100% - 200px);}
		i {
			cursor: pointer; font-size: 1.3rem; margin-top: 1px;
			&:hover {scale: 1.4;}
		}
		img {max-height: 100%; border-radius: 50%; position: absolute; right: 0px; top: 0px;}
	}
	h3 {font-style: italic;}
}
