#cuerpo {
	border-radius: 15px;
	flex-direction: column; overflow-y: auto !important;
	background-color: var(--amarilloMuyClaro);
	padding-block: 6px; padding-inline: 10px 20px;
	#encabezado {
		display: flex; flex-direction: row; justify-content: flex-start; gap: 20px;
		padding-block: 6px 15px; position: relative;
		h2 {font-size: 1.4rem; max-width: calc(100% - 200px);}
		i {
			cursor: pointer; font-size: 1.3rem; margin-top: 1px;
			&:hover {scale: 1.4;}
		}
		img {max-height: 100%; border-radius: 50%; position: absolute; right: 0px; top: 0px;}
	}
	#contenidoRevisar {
		display: flex;
		.bloque-textoImagen, .bloque-texto blockquote {margin-top: 10px;}
		&:not(:has(.bloque-libro, .bloque-estampa)) {flex-direction: column;}
		&:has(.bloque-libro, .bloque-estampa) {
			flex-direction: row; justify-content: space-evenly; flex-wrap: wrap; column-gap: 50px;
			&:has(.bloque-libro) {row-gap: var(--margenVertical);}
			&:has(.bloque-estampa) {row-gap: calc(var(--margenVertical) * 2);}
		}
		.bloque {
			a {color: var(--terracota); text-decoration: underline;}
			img {cursor: pointer;}
		}
	}

	/* Si el encabezado está en status rechazar/rechazado, cambia el color de fondo */
	&:has(#encabezado.rechazar, #encabezado.rechazado) {background-color: var(--rojoMuyClaro);}

}