#cuerpo {
	#encabezado {
		display: flex; flex-direction: row; justify-content: flex-start; gap: 20px;
		padding-block: 6px 15px; position: relative;

		h2 {max-width: calc(100% - 200px);}
		img.cambios {position: absolute; right: 0px; top: 50%; translate: 0 -50%;}
	}
	h3 {font-style: italic;}
}
