#cuerpo {
	ul {
		margin-left: 10px;
		li {
			font-weight: bold; font-size: 1.3rem; line-height: 1.3;
			&.primario:nth-child(n+2) {margin-top: 10px;}
			span {font-size: .9rem; margin-right: 5px;}
			a {font-weight: normal;}
		}
	}
}