<!-- Pie de página -->
<a href="/contactanos" tabindex="-1">Contactanos</a>
<div id="iconosMarca">
	<% for (const icono of iconosMarca) { %>
		<a href="<%= icono.link %>" target="_blank" title="<%= icono.nombre %>" rel="noopener noreferrer">
			<i class="fa-brands <%= icono.clase %> scaleHover"></i>
		</a>
	<% } %>
</div>
