<!-- Filtros -->
<%- include("LT-Filtro") %>

<!-- Índice -->
<%- include("LT-Indice", {indices: indicesRestoFechas}) %>

<!-- Ficha técnica -->
<div id="fichaTecnica">
	<% if (encabezado.fechaEvento) { %>
		<h3>Ficha técnica</h3>
		<ul type="disc">
			<li>Fecha: <%= comp.fechaHora.diaMesAnoUTC(encabezado.fechaEvento) %></li>
			<li>Lugar: <%= encabezado.lugarExper.nombre %></li>
		</ul>
	<% } %>
</div>
