<div id="tituloFiltros" class="contenedor">
	<div class="titulo">
		<i class="fa-solid fa-caret-right muestraFiltroAnchors"></i>
		Filtros
	</div>
	<form id="filtros" class="ocultar">
		<% if (esCarta) { %> <%- include("LT-1Cartas-2Filtro") %><% } %>
		<% if (esExpers) { %><%- include("LT-2Expers-2Filtro") %><% } %>
	</form>
</div>
