<!-- Filtros -->
<div id="filtros" class="contenedor">
	<div class="titulo">
		<i class="fa-solid fa-caret-right mostrar"></i>
		Filtros
	</div>
</div>

<!-- Índice -->
<%- include("LT-Indice-9DetalleLugar", {indices: indicesDevoc}) %>

<!-- Ficha técnica -->
<div id="fichaTecnica">
</div>
