<!-- Filtros -->
<div id="filtros" class="contenedor">
	<div class="titulo">
		<i class="fa-solid fa-caret-right mostrar"></i>
		Filtros
	</div>
</div>

<!-- Índice -->
<%- include("LT-Indice-9DetalleFecha", {indices: indicesRestoFechas}) %>

<!-- Ficha técnica -->
<div id="fichaTecnica">
	<% if (encabezado.fechaEvento) { %>
		<h3>Ficha técnica</h3>
		<ul type="disc">
			<li>Fecha: <%= comp.fechaHora.diaMesAnoUTC(encabezado.fechaEvento) %></li>
			<li>Lugar: <%= encabezado.lugarExper.nombre %></li>
		</ul>
	<% } %>
</div>
