/* Configuración general */
header {
	display: flex; flex-direction: row; align-items: center; flex-grow: 1;
	height: var(--altoHeader); max-height: var(--altoHeader);
	background: var(--colorHeader); color: snow;
	z-index: 1;
}

/* Fuente */
@font-face {font-family: MTCORSVA; src: url('MTCORSVA.TTF') format('truetype');}
