<!-- Inputs -->
<div class="inputs">
	<textarea name="titulo" class="input" placeholder="Título del libro" class="input"></textarea>
	<input type="text" name="autor" class="input">
	<input type="number" name="anoLanzam" class="input">
	<input type="text" name="editorial" class="input">
</div>

<!-- Muestra -->
<div id="areaSoltar">
	<p id="cartelImagen">Imagen</p>
	<input name="imagen" type="file" accept="image/*" hidden><!-- el input no lleva class 'input', porque tiene un tratamiento diferente -->
	<img id="vistaImagen" src="">
</div>
