<section id="sectorContNuevo" class="sector bloque">
	<div id="pestanaLayout">
		<div id="pestanas">
			<div id="textoImagen" class="pestana activo">Texto + Imagen</div>
			<div id="texto" class="pestana">Texto</div>
			<div id="imagen" class="pestana">Imagen</div>
			<div id="carrousel" class="pestana">Carrousel</div>
			<div id="video" class="pestana">Video</div>

		</div>
		<div id="layouts">
			<div id="texto" class="layout"><%- include("ABM-4PegarTexto", {id: "texto"}) %></div>
			<div id="imagen" class="layout"></div>
			<div id="carrousel" class="layout ocultar"></div>
			<div id="video" class="layout ocultar"></div>
		</div>
	</div>
	<i id="iconoguardar" class="fa-solid fa-floppy-disk"></i><!-- guardar -->
</section>
