<div class="cuadrado">
	<img id="vistaImagen" src="">
	<textarea name="leyenda" class="input" placeholder="Pegá la leyenda"></textarea>
</div>
<div id="dragDrop" class="cuadrado">
	<div id="areaSoltar">
		<p id="cartelImagen">Imagen</p>
		<input name="imagen" type="file" accept="image/*" hidden><!-- el input no lleva class 'input', porque tiene un tratamiento diferente -->
		<img id="vistaImagen" src="">
	</div>
	<textarea name="leyenda" class="input" placeholder="Pegá la leyenda"></textarea>
</div>
