<div id="encabCartas" class="encabezado ocultar">
	<select name="numero" class="input">

	</select>
	<select name="nombreDesde_id" class="input" data-tabla="personajes">
		<option value="">Remitente</option>
	</select>
	<select name="nombreHacia_id" class="input" data-tabla="personajes">
		<option value="">Destinatario</option>
	</select>
	<select name="lugar_id" class="input" data-tabla="lugares">
		<option value="">Dónde se escribió</option>
	</select>
	<select name="idioma_id" class="input" data-tabla="idiomas">
		<option value="">Idioma</option>
	</select>
	<input type="date" name="fechaEvento" class="input">
	<div id="areaSoltar">
		<p id="cartelImagen">Imagen</p>
		<input name="imagen" type="file" accept="image/*" hidden><!-- el input no lleva class 'input', porque tiene un tratamiento diferente -->
		<img id="vistaImagen" src="">
	</div>
</div>
<div id="encabExpers" class="encabezado ocultar">
	<input type="text" name="titulo" class="input" placeholder="Título">
	<input type="text" name="subTitulo" class="input" placeholder="Sub-título">
	<select name="lugar_id" class="input" data-tabla="lugares">
		<option value="">Dónde ocurrió</option>
	</select>
	<input type="date" name="fechaEvento" class="input">
</div>
<div id="encabSinIndice" class="encabezado ocultar">
	<input type="text" name="titulo" class="input" placeholder="Título">
	<input type="text" name="subTitulo" class="input" placeholder="Sub-título">
</div>
<div class="iconos">
	<i id="guardar" class="fa-solid fa-save ocultar"></i>
	<i id="eliminar" class="fa-solid <%= iconos.eliminar %>"></i>
</div>
