<!-- Carrousel de imágenes -->
<div id="carrImgs"></div>
<!-- <img id="vistaImagen" src="/imgsEditables/2-Revisar/1760660122983.jpg" class="yaAgregs"> -->

<!-- Drag & Drop -->
<div id="dragDrop">
	<div id="areaSoltar">
		<p id="cartelImagen">Imagen</p>
		<input name="imagen" type="file" accept="image/*" hidden><!-- el input no lleva class '.input', porque tiene un tratamiento diferente -->
		<img src=""><!-- presente para que funcione el css de #areaSoltar -->
	</div>
	<textarea name="leyenda" class="input" placeholder="Pegá la leyenda"></textarea>
</div>

<!-- Vista Previa -->
<img id="modeloVistaImagen" src="" class="yaAgregs">
