<!-- Inputs -->
<div class="flexCol inputs">
	<input type="url" name="url" />
	<textarea name="leyenda"></textarea>
</div>

<!-- Muestra -->
<div class="flexCol outputs">
	<div id="muestraVideo">
	</div>
	<div class="muestraLeyenda"></div>
	<input type="text" name="video" class="ocultar"/>
</div>
