<section id="sectorContNuevo" class="sector bloque">
	<div id="pestanaLayout">
		<div id="pestanas">
			<div id="textoImagen" class="pestana activo">Texto + Imagen</div>
			<div id="texto" class="pestana">Texto</div>
			<div id="imagen" class="pestana">Imagen</div>
			<div id="carrousel" class="pestana">Carrousel</div>
			<div id="video" class="pestana">Video</div>

		</div>
		<div id="layouts">
			<% ["texto", "imagen", "carrousel", "video"].forEach((id, i) => { %>
				<div id="<%= id %>" class="layout"><%- include("ABM-4Nuevo-" + (i + 1) + comp.inicialMayus(id), {id}) %></div>
			<% }) %>
		</div>
	</div>
	<i id="iconoguardar" class="fa-solid fa-floppy-disk"></i><!-- guardar -->
</section>
