<section id="sectorContNuevo" class="sector">
	<div id="pestanas">
		<div id="textoImagen"></div>
		<div id="texto"></div>
		<div id="imagen"></div>
		<div id="carrousel"></div>
		<div id="video"></div>

	</div>
	<div id="layouts">
		<div id="textoImagen"></div>
		<div id="texto"></div>
		<div id="imagen"></div>
		<div id="carrousel"></div>
		<div id="video"></div>
	</div>
	<div id="iconosContNuevo">
		<!-- guardar -->
		<!-- cancelar -->
	</div>
</section>
