<div id="areaSoltar" class="flexColAlign">
	<p id="cartelImagen">Imagen</p>
	<input name="imagen" type="file" accept="image/*" hidden><!-- el input no lleva class 'input', porque tiene un tratamiento diferente -->
	<img id="vistaImagen" src="">
</div>
<textarea name="leyenda" class="input" placeholder="Pegá la leyenda"></textarea>
