<!-- Inputs -->
<div class="flexCol inputs">
	<input type="url" name="url" class="input"/>
	<textarea name="leyenda" class="input"></textarea>
</div>

<!-- Muestra -->
<div class="flexCol outputs">
	<div id="muestraVideo" class="div">
	</div>
	<div class="muestraLeyenda" class="div"></div>
	<input type="text" name="video" class="ocultar input"/>
</div>
