<!-- Filtros -->
<%- include("ABM-1Filtros") %>

<!-- Form -->
<form>
	<!-- Encabezado -->
	<%- include("ABM-2Encabezado") %>

	<!-- Contenido actual -->
	<%- include("ABM-3ContenidoActual") %>

	<!-- Contenido nuevo -->
	<%- include("ABM-4ContenidoNuevo") %>

</form>
