<section id="sectorContNuevo" class="sector">
	<div id="pestanas">
		<div id="textoImagen">Texto + Imagen</div>
		<div id="texto">Texto</div>
		<div id="imagen">Imagen</div>
		<div id="carrousel">Carrousel</div>
		<div id="video">Video</div>

	</div>
	<div id="layouts">
		<div id="texto"></div>
		<div id="imagen"></div>
		<div id="carrousel"></div>
		<div id="video"></div>
	</div>
	<div id="iconosContNuevo">
		<!-- guardar -->
		<!-- cancelar -->
	</div>
</section>
