<!-- Bloques (texto + imagen, video, carrousel) -->
<div class="bloque sector">
	<div class="contenido"></div>
	<!-- Ãconos -->
	<div class="iconos">
		<i class="fa-solid <%= iconos.edicion %>"></i><!-- editar -->
		<i class="fa-solid fa-up-long subir"></i><!-- subir -->
		<i class="fa-solid fa-down-long bajar"></i><!-- bajar -->
		<i class="fa-solid <%= iconos.eliminar %>"></i><!-- eliminar -->
	</div>
</div>
