/* Configuración general */
header {
	display: flex; flex-direction: row; align-items: center; flex-grow: 1;
	width: 100vw; height: var(--altoHeader);
	background: var(--gris-oscuro); color: snow;

	#izquierda {
		flex-grow: 1;
		#titulo {
			padding: 5px 50px 0;
			font-family: "Monotype Corsiva", MTCORSVA;
			color: var(--gris-claro); font-size: 3rem; font-weight: bold;
			text-wrap: nowrap;
		}
		#secciones {
			flex-grow: 1; justify-content: space-evenly;
			font-size: 1.5rem;
		}
	}


	img {max-height: 100%;}
}

/* Fuente */
@font-face {font-family: MTCORSVA; src: url('MTCORSVA.TTF') format('truetype');}
