/* Configuración general */
header {
	display: flex; flex-direction: row; align-items: center; flex-grow: 1;
	height: var(--altoHeader); max-height: var(--altoHeader);
	background: var(--gris-oscuro); color: snow;

	#izquierda {
		flex-grow: 1;
		#tituloTema {
			padding-block: 5px 0; padding-inline: 30px;
			font-family: "Monotype Corsiva", MTCORSVA;
			color: var(--gris-claro); font-size: 2.3rem; font-weight: bold;
			text-wrap: nowrap;
		}
		#secciones {
			flex-grow: 1; justify-content: space-evenly;
			font-size: 1.2rem;
			.resaltar {color: var(--amarillo-intermedio);}
		}
	}

	#derecha {
		#iconoUsuario {
			margin-right: 20px;
			i {font-size: 2rem; color: var(--gris-claro); cursor: pointer;}
		}
	}

	img {max-height: 100%;}
}

/* Fuente */
@font-face {font-family: MTCORSVA; src: url('MTCORSVA.TTF') format('truetype');}
