<!-- Formulario -->
<form id="formAltaOlvido">
	<input type="email" name="email" placeholder="Escribí tu mail" autofocus>
	<p id="mensaje"></p>
	<div id="fondoConfirma">
		<button type="submit" id="confirma">Envío de nueva contraseña</button>
	</div>
</form>
