<div id="iconoUsuario" class="pointer">
	<div id="imagenUsuario" title="Hola <%= usuario.apodo %>">
		<% const avatarUsuario = usuario.avatar ? ("/imgsEditables/9-Usuarios/" + usuario.avatar) : "/imgsComp/9-Varios/usuarioGenerico.jpg" %>
		<img src="<%= avatarUsuario %>">
	</div>
</div>