<div id="iconoUsuario" class="pointer">
	<% if (locals.usuario) { %>
		<div id="imagenUsuario" title="Hola <%= usuario.apodo %>">
			<% const avatarUsuario = usuario.avatar ? ("/imgsEditables/9-Usuarios/" + usuario.avatar) : "/imgsComp/9-Varios/usuarioGenerico.jpg" %>
			<img src="<%= avatarUsuario %>">
		</div>
	<% } else { %>
		<i class="fa-regular <%= iconos.login %> iconoHeader" title="Login/Registrarse"></i>
	<% } %>
</div>
