<% if (locals.usuario && usuario.rol.actualizac) { %>
	<h3>Esta biblioteca sólo está accesible para usuarios con el permiso para influir en el contenido del sitio.</h3>
<% } %>

<ol>

	<!-- Navegación -->
	<li>Navegación</li>
	<ul>
		<li><span>
			Mapa del sitio
			<a href="/descargas/PPT - Mapa del sitio.ppsx" download><i class="fa-solid fa-download"></i></a>
		</span></li>
		<li><span>
			Permisos de navegación
			<a href="/descargas/PPT - Permisos de navegacion.ppsx" download><i class="fa-solid fa-download"></i></a>
		</span></li>
		<li><span>
			Simultaneidad
			<a href="/descargas/PPT - Simultaneidad.ppsx" download><i class="fa-solid fa-download"></i></a>
		</span></li>
	</ul>

	<% if (usuario.rol.revision || usuario.rol.cambioRol) { %>
		<!-- Memorias relacionadas con el dominio -->
		<li>Memorias del dominio <em>mamaantula.com</em></li>
		<ul>
			<li><span>
				Memoria del año 2022
				<a href="/descargas/PDF - Memoria 2022.pdf" download><i class="fa-solid fa-download"></i></a>
			</span></li>
			<li><span>
				Memoria del día 30/sep/2025
				<a href="/descargas/PDF - Memoria 2025-09-30.pdf" download><i class="fa-solid fa-download"></i></a>
			</span></li>
		</ul>
	<% } %>

</ol>
