<form class="formulario">

	<label>Nombre *</label>
	<input type="text" autofocus>

	<label>Correo electrónico *</label>
	<input type="email">

	<label>Si pertenecés a alguna institución, ¿nos podés decir a cuál?</label>
	<input type="text">

	<label>Mensaje *</label>
	<textarea></textarea>

	<button type="submit">Enviar</button>
</form>
