<!-- Imagen izquierda -->
<div id="izquierda" class="contenedorImagen">
	<img src="<%= imagenes[0] %>">
</div>

<form>
	<input name="nombre" type="text" autofocus placeholder="Nombre *">
	<input name="email" type="email" placeholder="Correo electrónico *">
	<input name="institucion" type="text" placeholder="Si pertenecés a alguna institución, ¿nos podés decir a cuál?">
	<textarea name="mensaje" placeholder="Mensaje *"></textarea>
	<p>* Campos de contenido obligatorio</p>

	<button type="submit">Enviar</button>
</form>

<!-- Imagen derecha -->
<div id="derecha" class="contenedorImagen">
	<img src="<%= imagenes[1] %>">
</div>
