<form id="miForm">
	<!-- Título -->
	<label for="titulo">Título</label>
	<input type="text" name="titulo" id="titulo" required autofocus>

	<!-- Contenedor del editor (donde se escribe) -->
	<label for="editor-container">Contenido</label>
	<div id="toolbar">
		<span class="ql-formats">
			<button class="ql-bold" title="Negrita"></button>
			<button class="ql-italic" title="Cursiva"></button>
			<select class="ql-color" title="Color del texto"></select>
		</span>

		<span class="ql-formats">
			<button class="ql-list" value="ordered" title="Lista numerada"></button>
			<button class="ql-list" value="bullet" title="Lista con viñetas"></button>
			<button class="ql-blockquote" title="Cita"></button>
		</span>

		<span class="ql-formats">
			<button class="ql-link" title="Insertar enlace"></button>
			<button class="ql-image" title="Insertar imagen"></button>
			<button class="ql-video" title="Insertar video"></button>
		</span>

		<span class="ql-formats">
			<button class="ql-clean" title="Quitar formato"></button>
		</span>
	</div>
	<div id="editor-container"></div>

	<!-- Donde se muestra lo que se va a enviar al html -->
	<textarea id="contenidoText" name="contenido"></textarea>

	<!-- Enviar -->
	<button type="submit">Enviar</button>
</form>
