<% if (locals.usuario && usuario.rol.actualizac) { %>
	<h3>Estos videos sólo son accesibles para usuarios con el permiso para influir en el contenido del sitio.</h3>
<% } %>

<ol>
	<% for (const video of videos) { %>
		<% let vale %>
		<% if (video.visita && !locals.usuario) vale = true // bien - no es apto para visitas %>
		<% if (video.lectura && locals.usuario && !usuario.rol.actualizac) vale = true // bien - no es apto para el permiso soloLectura %>
		<% if (video.actualizac && locals.usuario && usuario.rol.actualizac) vale = true // no es apto para el permiso actualizac %>
		<% if (video.revision && locals.usuario && usuario.rol.revision) vale = true // no es apto para el permiso revision %>
		<% if (video.cambioRol && locals.usuario && usuario.rol.cambioRol) vale = true // no es apto para el permiso cambioRol %>
		<% if (!vale) continue %>
		<li><span>
			<button data-video="/videos/<%= video.url %>.mp4"><%= video.nombre %></button>
		</span></li>
	<% } %>
</ol>
