<ol>
	<% for (const video of videos) { %>
		<% if (!locals.usuario && video.rol) continue // muestra alta de usuario y ninguno más %>
		<% if (locals.usuario && !video.rol) continue // no muestra alta de usuario %>
		<% if (locals.usuario && !usuario.rol.actualizac && video.rol.actualizac) continue %>
		<% if (locals.usuario && !usuario.rol.revision && video.rol.revision) continue %>
		<% if (locals.usuario && !usuario.rol.cambioRol && video.rol.cambioRol) continue %>
		<li><span>
			<button data-video="/videos/<%= video.url %>.mp4"><%= video.nombre %></button>
			<% if (video.rol) { %><p>Permiso de <span><b><em><%= video.rol.nombre %></em></b></span></p><% } %>
		</span></li>
	<% } %>
</ol>
