#areaSoltar {
	cursor: pointer;

	/* Dinámica */
	&:has(img[src=""]) {
		display: flex; flex-direction: column; align-items: center; justify-content: space-evenly;
		padding-inline: 5px;

		/* Fondo y borde */
		background-color: var(--celesteClaro); border: 2px dashed var(--grisOscuro);
		&.encima {background-color: var(--grisClaro); border-color: var(--grisOscuro);}

		/* Imagen */
		img {display: none;}
	}
	&:not(:has(img[src=""])) #cartelImagen {display: none;}

	/* Cartel */
	#cartelImagen {text-align: center;}

	/* Imagen */
	img {object-fit: cover; width: 100%; height: 100%; border-radius: 50%; border: 2px solid var(--grisOscuro);
	}
}
