#cuerpo {
	flex-direction: column; align-items: flex-start;

	ol {
		margin-left: 20px;
		li {
			span {display: flex; flex-direction: row; align-items: center; gap: 30px;}
			button {
				border: none; cursor: pointer; border-radius: 10px;
				background-color: var(--grisInterm); color: var(--grisClaro);
			}
		}
	}
}
