#cuerpo ol {
	& > li {
		&:not(:first-child) {margin-top: 20px;}
	}
	ul {
		margin-left: 20px;
		li {
			span {justify-content: flex-start; gap: 20px;}
			button {font-size: 1rem; padding: 5px 5px;}
		}
	}
}
