main h1 {margin-block: 20px 15px !important;}
#cuerpo {
	form {
		align-items: stretch;
		padding: 30px 40px; text-align: left;
		input, textarea {
			padding: 6px 10px; width: 455px;
			border: 2px solid #d7dee5; border-radius: 12px;
			background: var(--celesteMuyClaro);
			outline: none;
			&:focus {
				border-color: #94a3b8; background-color: white;
				box-shadow: 0 0 0 3px rgba(12,58,92,0.2);
			}
		}
		input {margin-bottom: 20px;}
		p#obligatorio {margin-bottom: 15px;}
		p#espera {margin-inline: auto; color: var(--rojoOscuro); font-weight: bold;}
		textarea {height: 100px; resize: vertical;}
	}
}
