#cuerpo {
	flex-direction: column; align-items: flex-start;
	ol {
		display: flex; flex-direction: column; gap: 20px;

		li {

			& > span {gap: 30px;}
			span {justify-content: space-between;}
			button {
				font-size: 1.3rem; padding: 3px 7px;
				&:hover {scale: 1.1}
			}
			p {
				display: flex; flex-direction: row;
				b {margin-left: 5px;}
			}
		}
	}
}
