<% if (contenido.texto || contenido.imagen) { %>
	<% if (contenido.imagen) { %>
		<div class="imgLeyenda">
			<img class="imagen" src="/imgsEditables/<%= subCarpeta %>/<%= contenido.imagen %>">
			<% if (contenido.leyenda) { %>
				<div class="leyenda" class="fondo"><%= contenido.leyenda %></div>
			<% } %>
		</div>
	<% } %>
	<% if (contenido.texto) { %>
		<div class="texto"><%- contenido.texto %></div>
	<% } %>
<% } %>
