<!-- Video -->
<div class="bloque <%= contenido.layout.codigo %> imgLeyenda">
	<iframe src="https://www.youtube.com/embed/<%= contenido.video %>?autoplay=1"></iframe>
	<% if (contenido.leyenda) { %>
		<div class="leyenda" class="fondo"><%= contenido.leyenda %></div>
	<% } %>
</div>
