form {
	gap: 15px; max-width: 415px;
	#areaSoltar {
		/* Medidas de lado */
		--ladoCuadrado: 150px; width: var(--ladoCuadrado); height: var(--ladoCuadrado);
		display: flex; flex-direction: column; align-items: center; justify-content: center;
		border-radius: 5px;
		img {border-radius: 50%;}
	}
	#contNovs {
		display: flex;
		input[type="checkbox"] {margin-right: 5px;}
	}
	input {
		&:not([type="checkbox"]) {padding: 2px 10px;}
		&[name="apodo"] {background-color: var(--verdeClaro);}
	}
}
