form {
	gap: 15px; max-width: 415px;
	#areaSoltar {
		/* Medidas de lado */
		--ladoCuadrado: 150px; width: var(--ladoCuadrado); height: var(--ladoCuadrado);
		border-radius: 5px;
	}
	#contNovs {
		background-color: snow; display: flex;
		input[type="checkbox"] {margin-right: 5px;}
	}
	input {
		&:not([type="checkbox"]) {padding: 2px 10px;}
		&[name="apodo"] {background-color: var(--verdeClaro);}
	}
	#areaSoltar img {border-radius: 50%;}
}
