form {
	h2 {margin-bottom: 12px; text-align: center;}
	h3 {margin-bottom: 0.5rem;}
	&:has(select[name="usuario"] option:checked[value=""]) #bloqueInputs {display: none;}

	section {
		&#bloqueInputs {
			margin-top: 40px; padding-top: 30px;
			border-top: 0.5px solid var(--grisInterm);
		}

		.bloques {

			.bloqueInput {
				display: flex; flex-direction: column; position: relative;
				i {position: absolute; bottom: 5px; right: -1px; translate: 100% 0;}
			}
		}
	}
}
