#cuerpo form {
	h2 {margin-bottom: 12px; font-size: 1.5rem; text-align: center;}
	h3 {margin-bottom: 0.5rem;}
	section {
		&#filtro {
			margin-bottom: 30px; padding-bottom: 40px;
			border-bottom: 0.5px solid var(--grisInterm);
		}

		.flexRowAlign {
			gap: 2rem;
			input[type="text"], select {
				background: var(--grisClaro); border: 1px solid var(--grisInterm);
				border-radius: 8px; transition: all 0.2s ease;
				padding-inline: 10px; height: 30px;
				&:focus {
					background-color: var(--fondoBlanco); border-color: var(--grisOscuro);
					box-shadow: 0 0 0 3px rgba(12,58,92,0.2); outline: none;
				}
			}
		}
	}
}
