header #izquierda {
	flex-grow: 1;
	#tituloSitio {
		padding-left: 30px; text-wrap: nowrap;
		a {font-size: 1.5rem; font-weight: bold;}
		h4 {font-style: italic; font-weight: normal; font-size: 0.79rem;}

	}
	#centro {
		flex-grow: 1;
		display: flex; flex-direction: row; align-items: center; justify-content: space-evenly;
		font-size: 1.2rem;
		& > .resaltar {color: var(--amarilloClaro); font-weight: bold;}
	}
}
