/* Íconos de búsqueda rápida e inputMasResultados */
#busquedaRapida {
	position: relative;
	i {font-size: 1.2rem; cursor: pointer;}
	#muestraResultados {display: none;}

	.formatoBusq {
		position: absolute; right: -7px; top: -3px; translate: 100%;
		color: var(--grisOscuro);
		input, #muestraResultados {border: 1px solid var(--azul-oscuro); border-radius: 5px;}
		input, #escribiMas {width: 200px;}
		input {padding: 4px 5px; font-size: 1rem;}

		/* Opciones de #muestraResultados */
		#muestraResultados {
			border-top-left-radius: 0; overflow: auto;
			display: flex; flex-direction: column;
			max-height: var(--altoCuerpo);
			:is(p, a.prod:nth-of-type(odd)) {background: whitesmoke;}
			a {
				min-width: 200px; width: 100%; line-height: 1.5;
				&.resaltar {background-color: var(--gris-intermedio) !important;}
				&.prod:nth-of-type(even) {background: var(--celeste-claro);}
				&.rclv:nth-of-type(odd) {background: var(--amarillo-oscuro);}
				&.rclv:nth-of-type(even) {background: var(--amarillo-claro);}
				* {padding-inline: 5px; align-content: center;}
				.spanNombre {width: 100%; padding-inline: 5px;}
				.spanEnt {
					&:first-letter {text-transform: uppercase;}
					min-width: 44px; width: 44px; text-align: left;
				}
			}
		}
		#escribiMas {
			background: var(--grisClaro); padding: 2px 7px; border-radius: 5px; border: var(--grisOscuro) 1px solid;
			font-style: italic; font-size: 0.9rem;
		}

		/* Condicional */
		&:not(:has(#muestraResultados.ocultar)) input {border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
	}
}
