/* Íconos de búsqueda rápida e inputMasResultados */
#busquedaRapida {
	position: relative;
	i.mostrarClick {font-size: 1.2rem; cursor: pointer;}

	.formatoBusq {
		position: absolute; right: -7px; top: -3px; translate: 100%;
		color: var(--grisOscuro);
		input, #muestraResultados {border: 1px solid var(--azulOscuro); border-radius: 5px;}
		input, #escribiMas {width: 220px;}
		input {padding: 4px 5px; font-size: 1rem;}

		/* Opciones de #muestraResultados */
		#muestraResultados {
			border-top-left-radius: 0; overflow: auto; max-height: var(--altoCuerpo);
			font-size: 0.9rem; width: max-content; min-width: 100%;
			&:empty {display: none;}
			&:not(:empty) {display: flex; flex-direction: column;}
			& > :is(a, div) {padding-inline: 5px; width: 100%; line-height: 1.5;}
			ul li {padding-inline: 15px 5px; width: 100%; line-height: 1.2;}

			/* Variantes */
			.colorClaro {background: snow;}
			.colorOscuro {background: var(--celesteClaro);}
			.ruta, #sinResultados {font-style: italic; cursor: not-allowed;}
			.resaltar {background-color: var(--grisInterm) !important;}
			#sinResultados {text-align: center;}
		}
		#escribiMas {
			background: var(--grisClaro); padding: 2px 7px; border-radius: 5px; border: var(--grisOscuro) 1px solid;
			font-style: italic; font-size: 0.9rem;
		}

		/* Condicional */
		&:not(:has(#muestraResultados.ocultar)) input {border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
	}
}
