<!-- Bloques (texto + imagen, video, carrusel) -->
<div class="bloque sector">
	<div class="contenido"></div>
	<!-- Ãconos -->
	<div class="iconos">
		<i class="sube fa-solid fa-up-long" title="Sube"></i>
		<i class="baja fa-solid fa-down-long" title="Baja"></i>
		<i id="recupera" class="recupera <%= iconos.faSolid %> <%= iconos.izquierda %>" title="Recupera"></i>
		<i class="elimina fa-solid <%= iconos.eliminar %>" title="Elimina"></i>
		<img src="">
	</div>
</div>
