<div id="menuTemas" class="relative">
	<!-- Ícono de menú -->
	<h1 id="icono"><i class="fa-solid fa-bars"></i></h1>

	<!-- Menú de opciones -->
	<ul type="none" id="listadoTemas" class="ocultar">
		<% for (const tema of temasSeccion) { %>
			<li><%= tema.titulo %></li>
		<% } %>
	</ul>
</div>
