<ul type="none" class="listadoPestanas" data-tema_id="<%= tema.id %>">
	<% tema.pestanas.forEach((pestana, i) => { %>
		<li class="pestana<% if (!i) { %> activo<% } %>" data-pestana_id="<%= pestana.id %>"><%= pestana.titulo %></li>
	<% }) %>
</ul>
