<% tema = temasSeccion[0] %>
<h1><%= tema.titulo %></h1>
<% if (tema.pestanas.length) { %>
	<ul type="none">
		<% for (const pestana of tema.pestanas) { %>
			<li><%= pestana.titulo %></li>
		<% } %>
	</ul>
<% } %>