<section id="tituloTema" class="flexRowAlign">
	<h1><i class="fa-solid fa-bars"></i></h1>

	<% tema = temasSeccion[0] %>
	<h1 id="titulo"><%= tema.titulo %></h1>
</section>

<% if (!tema.pestanas.length) { %>
	<div id="contenidoTema"><%- include("MN-Contenido") %></div>
<% } else { %>
	<%- include("MN-Pestanas") %>
	<div id="contenidoPestana"><%- include("MN-Contenido") %></div>
<% } %>
