<ul type="none" id="pestanas" class="flexRow">
	<% tema.pestanas.forEach((pestana, i) => { %>
		<li data-pestana="<%= pestana.id %>" <% if (!i) { %>class="activo"<% } %>><%= pestana.titulo %></li>
	<% }) %>
</ul>
