<!-- Bloques (texto + imagen, video, carrusel) -->
<div class="bloque sector">
	<div class="contenido"></div>
	<!-- Ãconos -->
	<div class="iconos">
		<i class="entraEnEdicion fa-solid <%= iconos.edicion %>" title="Editar"></i>
		<i class="saleDeEdicion fa-solid <%= iconos.izquierda %> ocultar" title="Editar"></i>
		<i class="guarda fa-solid <%= iconos.guardar %> ocultar" title="Editar"></i>
		<i class="baja fa-solid fa-down-long" title="Bajar"></i>
		<i class="sube fa-solid fa-up-long" title="Subir"></i>
		<i class="elimina fa-solid <%= iconos.eliminar %>" title="Eliminar"></i>
		<img src="">
	</div>
</div>
