<!-- Carrusel y comentario -->
<div id="crslComentario" class="flexColAlign">
	<!-- Carrusel de imágenes -->
	<div id="carrImgs"></div>
	<input name="comentario" class="input" placeholder="Pegá el comentario">
</div>

<!-- Vista Previa -->
<div id="modeloVista" class="relative">
	<img src="" class="imgAgreg">
	<i class="<%= iconos.faSolid %> <%= iconos.eliminar %> eliminar"></i>
</div>

<!-- Drag & Drop -->
<div id="dragDrop">
	<div id="areaSoltar">
		<p id="cartelImagen">Imagen</p>
		<input name="imagen" type="file" accept="image/*" hidden multiple><!-- el input no lleva class '.input', porque tiene un tratamiento diferente -->
		<img src="" class="noAgrandar"><!-- presente para que funcione el css de #areaSoltar -->
	</div>
</div>
