<h1 id="tituloTema"><%= tituloPagina %></h1>

<section id="contenidoTemas" class="flexRowAlign">
	<form id="formMail" class="flexColAlign">
		<input type="email">
		<button type="text">Envío de nueva contraseña</button>
	</form>
	<div id="imagenes" class="flexRowAlign">
		<% for (const imagen of imagenes) { %>
			<img src="<%= imagen %>">
		<% } %>
	</div>
</section>
