<h1 id="tituloTema"><%= tituloPagina %></h1>

<section id="contenidoTemas">

	<div id="izquierda" class="contenedorImagen">
		<img src="<%= imagenes[0] %>">
	</div>

	<form id="formMail" class="flexColAlign">
		<input type="email" placeholder="Escribí tu mail">
		<button type="text">Envío de nueva contraseña</button>
	</form>

	<div id="derecha" class="contenedorImagen">
		<img src="<%= imagenes[1] %>">
	</div>
</section>
