<h1 id="tituloTema"><%= tituloPagina %></h1>

<section id="contenidoTemas">
	<!-- Imagen izquierda -->
	<div id="izquierda" class="contenedorImagen">
		<img src="<%= imagenes[0] %>">
	</div>

	<!-- Formulario -->
	<form id="formAltaOlvido" class="flexColAlign">
		<input type="email" name="email" placeholder="Escribí tu mail">
		<p id="mensajeError"></p>
		<button type="text">Envío de nueva contraseña</button>
	</form>

	<!-- Imagen derecha -->
	<div id="derecha" class="contenedorImagen">
		<img src="<%= imagenes[1] %>">
	</div>
</section>
