<h1 id="tituloTema"><%= tituloPagina %></h1>

<section id="contenidoTemas">
	<!-- Imagen izquierda -->
	<div id="izquierda" class="contenedorImagen">
		<img src="<%= imagenes[0] %>">
	</div>

	<% if (codigoVista == "altaOlvido") { %>
		<%- include("US-1AltaOlvido") %>
	<% } %>

	<!-- Imagen derecha -->
	<div id="derecha" class="contenedorImagen">
		<img src="<%= imagenes[1] %>">
	</div>
</section>
