/* Sector contenido actual */
.bloque {
	display: flex; flex-direction: row; gap: 15px;
	padding-block: 15px;

	.contenido {
		a {color: var(--terracota); text-decoration: underline;}

		/* Imagen, Carrusel, Video */
		&:has(.carrImgs, iframe), :where(&.contImagenLeyenda, .contImagenLeyenda) {display: flex; flex-direction: column; align-items: center; width: 100%;}

		/* Texto con imagen */
		&.textoImagen {
			width: 100%;
			.contImagenLeyenda {float: right; margin-left: 30px; margin-bottom: 15px; max-width: 33%;}
			.texto:has(img) {
				display: flex; flex-direction: column; align-items: center;
				img {max-height: 300px;}
			}
		}

		/* Texto sin imagen */
		:where(&.texto, .texto) {
			blockquote {font-size: 1rem; text-align: center; text-wrap: balance;}
			p {margin-bottom: 10px;}
		}

		/* Imagen sola o con texto */
		:where(&.contImagenLeyenda, .contImagenLeyenda) {
			.imagen {max-height: 300px; max-width: 100%;}
			.tituloLibro {
				margin-block: 6px; max-width: 350px;
				font-weight: bold; font-size: 1rem; color: var(--azulOscuro);
				text-wrap: balance; text-align: center;
			}
			/* .autorLibro, .anoEditorial {color: var(--grisOscuro);} */
		}

		/* Carrusel */
		&:has(.carrImgs) {
			overflow-x: auto;
			.carrImgs {
				display: flex; flex-direction: row; gap: 20px; max-width: 100%;
				img {max-height: 300px;}
			}
		}

		/* Video */
		&:has(iframe) {
			iframe {height: 300px; width: auto; aspect-ratio: 16 / 9;}
		}

		/* Auxiliar */
		&.contImagenLeyenda .leyenda {max-width: 70%;}
		.contImagenLeyenda .leyenda {max-width: 100%;}
		.leyenda {
			font-style: italic; color: var(--grisInterm);
			text-align: center; text-wrap: balance; padding-block: 6px;
		}
	}
	.iconos .fa-trash-can {color: var(--rojoOscuro)}
}
