#cuerpo {
	flex-direction: column; font-size: 16px;

	/* General */
	.sector {
		border: 1px solid black; border-radius: 10px;
		padding-inline: 20px;
		margin-bottom: 20px;
		&#sectorFiltros, &#sectorFiltros #filtros,
		&#sectorEncabezado, &#sectorEncabezado .encabezado
			{display: flex; flex-direction: row; align-items: center; justify-content: flex-start; gap: 30px;}
		input, select, textarea {
			border-radius: 6px; border: 1px solid var(--grisOscuro);
			background-color: var(--fondoBlanco); backdrop-filter: blur(4px);
		}
		input, select {height: 23px;}
		input {padding-inline: 4px;}
	}

	#sectorFiltros, #sectorEncabezado {min-height: 50px;}

	#editables {
		max-height: calc(100% - 70px); padding-right: 20px;
		overflow-y: auto; ;
		.sector {
			background-color: var(--grisClaro);
			.iconos {
				display: flex; flex-direction: row; align-items: center; gap: 5px;
				&:not(:has(:not(.ocultar))) {display: none;} /* si no se muestra ningún ícono, se oculta el contenedor */
				i {
					cursor: pointer;
					&:hover:not(:active) {scale: 1.5;}
				}
			}
		}
	}

	/* Si el encabezado es nuevo, oculta el sectorContNuevo */
	&:has(#filtros select[name="encabezado"] option[value="nuevo"]:checked) #sectorContNuevo {display: none;}
}