/* Sector filtros */
#sectorFiltros {
	background-color: var(--celesteClaro);
	width: fit-content;
	#filtros {select {width: 210px;}}
}

#cuerpo:has(#sectorFiltros #filtros select:invalid) #editables {display: none;}
