/* Sector contenido actual */
.bloque {
	display: flex; flex-direction: row; justify-content: center; gap: 15px;
	padding-block: 15px;

	.contenido {
		a {color: var(--terracota); text-decoration: underline;}

		/* Texto con imagen */
		&.textoImagen .contImagenLeyenda {float: right; margin-left: 30px; margin-bottom: 15px; max-width: 33%;}

		/* Texto sin imagen */
		&.texto p {margin-bottom: 10px;}

		/* Imagen sola o con texto */
		:where(&.contImagenLeyenda, .contImagenLeyenda) {
			display: flex; flex-direction: column; align-items: center;
			.imagen {max-height: 300px; max-width: 100%;}
		}

		/* Carrusel */
		&:has(.carrImgs) {
			display: flex; flex-direction: column; align-items: center;
			max-width: 100%; overflow-x: auto;
			.carrImgs {
				display: flex; flex-direction: row; gap: 20px;
				max-width: 100%;
				img {max-height: 300px;}
			}
		}

		/* Video */
		&:has(iframe) {
			display: flex; flex-direction: column; align-items: center;
			iframe {height: 300px; width: auto; aspect-ratio: 16 / 9;}
		}

		/* Auxiliar */
		&.contImagenLeyenda .leyenda {max-width: 70%;}
		.contImagenLeyenda .leyenda {max-width: 100%;}
		.leyenda {
			font-style: italic; color: var(--grisInterm);
			text-align: center; text-wrap: balance; padding-block: 6px;
		}
	}
	.iconos .fa-trash-can {color: var(--rojoOscuro)}
}
