/* Sector contenido actual */
.bloque {
	display: flex; flex-direction: row; gap: 15px;
	padding-block: 15px;
	.contenido a {color: var(--terracota); text-decoration: underline;}
	.iconos .fa-trash-can {color: var(--rojoOscuro)}
}
