/* Sector encabezados */
#sectorEncabezado {
	width: fit-content;

	/* Encabezado */
	.encabezado {
		input[type="text"] {
			width: 300px;
			&[name="numero"] {width: 50px; text-align: center;}
		}
		input[type="date"] {width: 130px;}
		select[name="orden"], select[name="numero"] {width: 70px;}
	}

	/* Imagen del usuario */
	img[src=""] {display: none;}
}
