/* Layouts + Ícono Guardar */
#layouts {
	display: flex; flex-direction: row; justify-content: center; gap: 30px;
	position: relative;

	/* Layouts */
	.layout {
		display: none; flex-direction: column;
		min-width: 200px; min-height: 200px; max-height: 300px;
		[name="leyenda"] {text-align: center;}
	}
	#texto {
		flex-grow: 1;
		.barraHerrams {border-radius: 10px 10px 0 0; max-width: fit-content;}
		.input {
			border-top: 1px solid #ccc; border-radius: 15px; border-top-left-radius: 0; font-size: 1rem;
			max-height: 172px; overflow: hidden;
			.ql-editor p {margin-bottom: 15px;}
		}
	}
	#imagen {
		max-width: 33%; gap: 5px; justify-content: center;
		#areaSoltar {
			display: flex; flex-direction: column; align-items: center; justify-content: center;
			width: 100%; height: 162px; border-radius: 5px;
		}
	}
	#carrusel {
		--lado: 200px; --gap: 20px;
		flex-direction: row !important; gap: var(--gap);

		/* Carrusel de imágenes */
		#carrImgs {
			max-width: calc(100% - var(--lado) - var(--gap)); overflow-x: auto;
			display: flex; flex-direction: row; gap: var(--gap);
			&:empty {display: none;}

			img.imgAgreg {height: var(--lado); &[src=""] {display: none;}}
			i {
				position: absolute; top: 50%; left: 50%; translate: -50% -50%;
				color: var(--rojoOscuro); background-color: snow;
				width: 2rem; padding-inline: 9px;
				height: 2rem; padding-block: 10px 9px;
				border-radius: 50%; cursor: pointer;
				&:hover {scale: 1.5;}
			}
		}
		#modeloVista {display: none;}

		/* Drag & Drop */
		#dragDrop {
			display: flex; flex-direction: column; align-items: stretch; justify-content: space-between; gap: 5px;
			width: var(--lado); height: var(--lado);
			#areaSoltar {border-radius: 5px; flex-grow: 1;}

		}

	}
	#video {
		flex-direction: row; align-items: center; gap: 10px;
		.inputs, .outputs {
			display: flex; flex-direction: column; align-items: center;
			* {width: 200px;}
		}
		.inputs {
			gap: 10px;
			input[name="url"] {text-align: center;}
		}
		#muestraVideo {width: 100%; height: 150px; border: 1px solid gray;}
		#muestraLeyenda {text-align: center;}
	}
}
