#sectorContNuevo {
	display: flex; flex-direction: column; align-items: center;
	width: 100% !important; padding-block: 15px;

	/* Pestañas de layout */
	#pestanasGuardar {
		display: flex; flex-direction: row; align-items: center; gap: 10px;
		margin-bottom: 15px;
		.pestana {
			border: 1px solid var(--grisOscuro); border-radius: 5px; padding: 2px 10px; cursor: pointer;
			background-color: var(--amarilloClaro);
			&.activo {background-color: var(--grisOscuro); color: snow;}
		}
		#iconoGuardar {
			cursor: pointer;
			&:not(.inactivo):hover {scale: 1.5;}
		}
	}

	/* Condicionado por las pestañas */
	&:has(#textoImagen.pestana.activo, #texto.pestana.activo, #carrousel.pestana.activo) #layouts {align-self: stretch;}
	&:has(#textoImagen.pestana.activo) {#texto, #imagen {display: flex;}}
	&:has(#texto.pestana.activo) {#texto {display: flex;}}
	&:has(#imagen.pestana.activo) {#imagen {display: flex;}}
	&:has(#carrousel.pestana.activo) {#carrousel {display: flex;}}
	&:has(#video.pestana.activo) {#video {display: flex;}}
}
