#texto {
	.ql-toolbar {
		border: 1px solid #ccc; border-bottom: none; padding: 5px;
		/* Agregar una barra entre grupos */
		.ql-formats {
			margin-inline: 2px !important;
			&:not(:last-child) {border-right: 1px solid #aaa; padding-right: 5px !important;}
			&:last-child {margin-right: 0;}
			button {
				cursor: pointer; margin-inline: 5px;
				&:hover {background-color: #e3e3e3; scale: 1.3;}
			}
		}
	}

	.ql-container {height: 100%;}

	/* #editor-container {
		height: 100px; border-radius: 0 0 6px 6px;
		.ql-editor {font-size: 1rem !important;}
	} */

	#output {display: none; height: 200px;}
}
