#cuerpo {
	font-size: 16px;

	/* General */
	.sector {
		border: 1px solid black; border-radius: 10px;
		padding-inline: 20px;
		margin-bottom: 20px; width: fit-content;
		&#sectorFiltros, &#sectorFiltros #filtros,
		&#sectorEncabezado, &#sectorEncabezado .encabezado
			{display: flex; flex-direction: row; align-items: center; justify-content: flex-start; gap: 30px;}
		input, select, textarea {border-radius: 6px; border: 1px solid var(--grisOscuro); background-color: snow;}
		input, select {height: 23px;}
		input {padding-inline: 4px;}
	}

	#sectorFiltros, #sectorEncabezado {min-height: 50px;}

	#editables {
		max-height: calc(100% - 70px); overflow-y: auto;
		.sector {
			background-color: var(--grisClaro);
			.iconos {
				display: flex; flex-direction: row; align-items: center; gap: 5px;
				&:not(:has(:not(.ocultar))) {display: none;} /* si no se muestra ningún ícono, se oculta el contenedor */
				i {
					cursor: pointer;
					&:hover:not(:active) {scale: 1.5;}
				}
			}
		}

		/* Sector contenido actual */
		#sectorContActual {width: 100%;}

		.bloque {
			display: flex; flex-direction: row; justify-content: center; gap: 15px;
			padding-block: 15px;
			.textoImagen {display: flex; flex-direction: row; gap: 15px;}
			.texto p {margin-bottom: 10px;}

			.contImagenLeyenda {
				display: flex; flex-direction: column; align-items: center;
				width: min-content;
				.imagen {max-height: 350px;}
				.leyenda {max-width: fit-content; text-align: center;}
			}
		}
	}

	/* Si el encabezado es nuevo, oculta el sectorContNuevo */
	&:has(#filtros select[name="encabezado"] option[value="nuevo"]:checked) #sectorContNuevo {display: none;}
}