/* Layouts + Ícono Guardar */
#layouts {
	display: flex; flex-direction: row; justify-content: center; gap: 30px;
	position: relative;

	/* Layouts */
	.layout {
		display: none; flex-direction: column;
		min-width: 200px; min-height: 200px; max-height: 300px;
		[name="leyenda"] {text-align: center;}
	}
	#texto {
		flex-grow: 1;
		.barraHerrams {border-radius: 10px 10px 0 0;}
		.input {
			border-top: 1px solid #ccc; border-radius: 15px; border-top-left-radius: 0; font-size: 1rem;
			.ql-editor p {margin-bottom: 15px;}
		}
	}
	#imagen {
		max-width: 33%;
		#areaSoltar {width: 100%; flex-grow: 1; border-radius: 5px;}
	}
	#carrousel {
		--lado: 200px; --gap: 20px;
		border: 1px solid grey;
		flex-direction: row !important; gap: var(--gap);

		/* Carrousel de imágenes */
		#carrImgs {
			max-width: calc(100% - var(--lado) - var(--gap)); overflow-x: auto;
			display: flex; flex-direction: row; gap: var(--gap);
			&:empty {display: none;}
		}

		/* Drag & Drop */
		#dragDrop {
			display: flex; flex-direction: column; align-items: stretch; justify-content: space-between; gap: 5px;
			width: var(--lado); height: var(--lado);
			#areaSoltar {border-radius: 5px; flex-grow: 1;}

		}
		/* Ya agregados */
		img.yaAgregs {
			height: var(--lado);
			&[src=""] {display: none;}

		}

	}
	#video {
		flex-direction: row; align-items: center; gap: 10px;
		.inputs, .outputs {
			display: flex; flex-direction: column; align-items: center;
			* {width: 200px;}
		}
		.inputs {
			gap: 10px;
			input[name="url"] {text-align: center;}
		}
		#muestraVideo {width: 100%; height: 150px; border: 1px solid gray;}
		#muestraLeyenda {width: 100%; text-align: center;}
	}
}
