#sectorContNuevo {
	display: flex; flex-direction: column; align-items: center;
	width: 100% !important; padding-block: 15px;

	/* Pestañas de layout */
	#pestanasGuardar {
		display: flex; flex-direction: row; align-items: center; gap: 10px;
		margin-bottom: 15px;
		.pestana {
			border: 1px solid var(--grisOscuro); border-radius: 5px; padding: 2px 10px; cursor: pointer;
			background-color: var(--amarilloClaro);
			&.activo {background-color: var(--grisOscuro); color: snow;}
		}
		#iconoGuardar {
			cursor: pointer; font-size: 1.2rem; color: var(--verdeOscuro);
			&:not(.inactivo):hover {scale: 1.5;}
			&.inactivo {color: var(--rojoOscuro);}
		}
	}

	/* Condicionado por las pestañas */
	&:has(#textoImagen.activo, #texto.activo, #carrusel.activo, #estampa.activo) #layouts {align-self: stretch;}
	&:has(#textoImagen.pestana.activo) {#layouts :is(#texto, #imagen) {display: flex;}}
	&:has(#texto.pestana.activo) {#layouts #texto {display: flex;}}
	&:has(#carrusel.pestana.activo) {#layouts #carrusel {display: flex;}}
	&:has(#video.pestana.activo) {#layouts #video {display: flex;}}
	&:has(#libro.pestana.activo) {#layouts #libro {display: flex;}}
	&:has(#estampa.pestana.activo) {#layouts #estampa {display: flex;}}
}
