/* Layouts + Ícono Guardar */
#layouts {
	display: flex; flex-direction: row; justify-content: center; gap: 30px;
	position: relative;

	/* Layouts */
	.layout {
		--lado: 200px;
		display: none;
		/* flex-direction: column; */
		min-width: var(--lado); min-height: var(--lado); max-height: 300px;
		[name="leyenda"], [name="comentario"] {text-align: center;}
	}
	#texto {
		flex-grow: 1;
		.barraHerrams {border-radius: 10px 10px 0 0; max-width: fit-content;}
		.input {
			border-top: 1px solid #ccc; border-radius: 15px; border-top-left-radius: 0; font-size: 1rem;
			max-height: 172px; overflow: hidden;
			.ql-editor p {margin-bottom: 15px;}
		}
	}
	#imagen {
		max-width: 33%; gap: 5px; justify-content: center;
		#areaSoltar {
			display: flex; flex-direction: column; align-items: center; justify-content: center;
			width: 100%; height: 162px; border-radius: 5px;
		}
	}
	#carrusel, #estampa {
		--gap: 20px;
		flex-direction: row !important; gap: var(--gap);

		/* Carrusel de imágenes */
		/* &:not(:has(#dragDrop.ocultar)) #carrImgs {max-width: calc(100% - var(--gap) - var(--lado));} */
		&:has(#dragDrop.ocultar) #carrImgs {max-width: 100%;}
		#crslComentario {
			justify-content: flex-end; min-width: var(--lado);
			#carrImgs {
				overflow-x: auto;
				display: flex; flex-direction: row; gap: var(--gap);
				&:empty {display: none;}

				img.imgAgreg {height: var(--lado); &[src=""] {display: none;}}
				i {
					position: absolute; top: 50%; left: 50%; translate: -50% -50%;
					color: var(--rojoOscuro); background-color: var(--fondoBlanco);
					width: 2rem; padding-inline: 9px;
					height: 2rem; padding-block: 10px 9px;
					border-radius: 50%; cursor: pointer;
					&:hover {scale: 1.5;}
				}
			}
		}
		#modeloVista {display: none;}
		#dragDrop {
			display: flex; flex-direction: column; align-items: stretch; justify-content: space-between; gap: 5px;
			width: var(--lado); height: var(--lado);
			#areaSoltar {border-radius: 5px; flex-grow: 1;}

		}
	}
	#video {
		flex-direction: row; align-items: center; gap: 10px;
		.inputs, .outputs {
			display: flex; flex-direction: column; align-items: center;
			* {width: var(--lado);}
		}
		.inputs {
			gap: 10px;
			input[name="url"] {text-align: center;}
		}
		#muestraVideo {height: 150px; &:empty {display: none;}}
		#muestraLeyenda {text-align: center;}
	}
	#libro {
		flex-direction: row; align-items: center; gap: 30px;
		.inputs, #areaSoltar {
			display: flex; flex-direction: column; align-items: center; justify-content: center;
			width: var(--lado);
		}
		.inputs {
			gap: 10px;
			input {text-align: left;}
		}
		#areaSoltar {height: 162px; border-radius: 5px;}

	}
}
