/* Sector encabezados */
#sectorEncabezado {
	width: fit-content;
	.encabezado {
		input[type="text"] {width: 300px;}
		input[type="date"] {width: 130px;}
		select[name="orden"], select[name="numero"] {width: 70px;}
	}
}
