<i class="<%= iconos.faSolid %> fa-bars mostrarClick iconoHeader"></i>
<div id="menuSecciones" class="mostrarToggle menuForm ocultar">
	<% for (const seccion of seccionesLectura) { %>
		<a href="/<%= seccion.url %>" class="menuOpcion"><%= seccion.nombre %></a>
	<% } %>
</div>
