<div id="busquedaRapida">
	<i class="fa-solid fa-magnifying-glass mostrarClick" title="Búsqueda rápida"></i>
	<div class="mostrarToggle formatoBusq ocultar">
		<input name="inputBR" type="text" placeholder="Escribí más de 2 letras" autocomplete="off">
		<div id="muestraResultados"></div>
		<p id="escribiMas" class="ocultar">Por favor escribí algo más...</p>
	</div>
</div>
