<h1 id="tituloPrincipal"><%= tituloPagina %></h1>

<section id="cuerpo">
	<% if (codigoVista == "contactanos") { %><%- include("MS-Contactanos") %><% } %>
	<% if (codigoVista == "videos") { %><%- include("MS-Videos") %><% } %>
	<% if (codigoVista == "biblioteca") { %><%- include("MS-Biblioteca") %><% } %>
</section>
