<!-- Formulario -->
<form id="formEdicion">
	<!-- Área donde soltar el archivo de imagen -->
	<div id="areaSoltar">
		<p id="cartelImagen">Arrastrá o buscá tu imagen (opcional)</p>
		<input name="imagen" type="file" accept="image/*" hidden><!-- el input no lleva class 'input', porque tiene un tratamiento diferente -->
		<img id="vistaImagen" src="<%= imagen %>" class="noAgrandar">
		<i id="eliminaImg" class="fa-solid fa-trash absoluteCentro"></i>
	</div>

	<!-- Inputs y select -->
	<input type="text" name="apodo" placeholder="Escribí tu apodo + Enter" autocomplete="off" value="<%= usuario.apodo %>" autofocus>
	<input type="password" name="contrasena" placeholder="Nueva contrasena (opcional)" autocomplete="new-password">
	<!-- <label id="contNovs">
		<input type="checkbox" name="notificacs">
		Deseo recibir las novedades por mail
	</label> -->

	<!-- Confirma -->
	<button type="submit" id="confirma" class="ocultar">Guardá los cambios</button>
</form>
