<!-- Formulario -->
<form action="" id="formCambioRoles">
	<div class="horizontal">
		<select name="usuario">

		</select>
		<select name="roles">

		</select>
	</div>
	<div class="horizontal">
		<select name="nombreCompleto">

		</select>
		<select name="rol_id"></select>
	</div>
</form>